<a href="https://colab.research.google.com/github/chaityrahman154-lgtm/The-beginning-is-today/blob/main/CSE110.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CSE110 Function Assignment- Dictionary & Tuple

In [ ]:
def function1(**args):
    print(args)
function1(a=6,b=23,c=1)

{'a': 6, 'b': 23, 'c': 1}

In [ ]:
# range is a function
def make_square(t):
    d={}
    for i in range(t[0],t[1]+1):
        d[i]=i**2
    return d
print(make_square((1,3)))
print(make_square((5,9)))

{1: 1, 2: 4, 3: 9}
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#Task 11
def rem_duplicate(t):
    lst=[]
    for i in t:
        if i not in lst:
            lst.append(i)
    tup=tuple(lst)
    return tup
print(rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)))
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

(1, 2, 3, 4, 5, 6, 0)
('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#Task 15
def function_name(lt,dl="Dhanmondi"):
        item=["Rice", "Potato", "Chicken", "Beef", "Oil"]
        price=[105, 20, 250 ,510, 85]
        d={}
        for i in range(len(item)):
            d[item[i]]=price[i]
        print(d)
        s=0
        for i in range(len(lt)):
            for j in d.keys():
                if lt[i]==j:
                    s+=d[j]
        if dl=="Dhanmondi":
            s+=30
        else:
            s+=70
        return s
print(function_name(["Rice", "Beef", "Rice"], "Mohakhali"))
print(function_name(["Rice", "Beef", "Rice"]))

{'Rice': 105, 'Potato': 20, 'Chicken': 250, 'Beef': 510, 'Oil': 85}
790
{'Rice': 105, 'Potato': 20, 'Chicken': 250, 'Beef': 510, 'Oil': 85}
750

In [ ]:
#Easy 2
def function_name(a):
    d={}
    for i in range(len(a)):
        d[a[i]]=[i,i-(len(a))]
    return d
print(function_name("pythonbook") )

{'p': [0, -10], 'y': [1, -9], 't': [2, -8], 'h': [3, -7], 'o': [8, -2], 'n': [5, -5], 'b': [6, -4], 'k': [9, -1]}

In [ ]:
def function_name(s): #will the order of the dictionary keys have to be same as output?
    d={}
    emp=""
    for i in range(len(s)):
        if s[i]!=" ":
                emp+=s[i]
        if s[i]==" " or i==(len(s))-1:
            if emp not in d:
                d[emp]=1
            else:
                d[emp]+=1
            emp=""
    return d

print(function_name("go there come and go here and there go care"))

{'go': 3, 'there': 2, 'come': 1, 'and': 2, 'here': 1, 'care': 1}

In [ ]:
#Medium 4check
def function_name(x):
    d={}
    for i in x:
        a=int(i)
        s=0
        lst=[]
        for j in range(1,a):
            if a%j==0:
                s+=j
        if a%2==0:
            lst.append("even")
        if a%2!=0:
            lst.append("odd")
        if s==1:
            lst.append("prime")
        if s!=1:
            lst.append("not prime")
        if s==a:
            lst.append("perfect")
        if s!=a:
            lst.append("not perfect")
        b=tuple(lst)
        d[a]=b
    return d
print(function_name("2441396"))

{2: ('even', 'prime', 'not perfect'), 4: ('even', 'not prime', 'not perfect'), 1: ('odd', 'not prime', 'not perfect'), 3: ('odd', 'prime', 'not perfect'), 9: ('odd', 'not prime', 'not perfect'), 6: ('even', 'not prime', 'perfect')}

Assignment-1 List Dictionary & Tuple

In [ ]:
#5 can't solve it wanna know another technique of string sorting
x=input()
s=""
for i in range(len(x)): #brac
 min=i
 if "a"<=x[i]<="z":
  for j in range(i,len(x)):
      if x[j]<x[min]:
        min=j
  s1=x[:i]+x[min]+x[i:min]+x[min+1:]
  x=s1
 else:
    break
print(x)

brac
abcr

In [ ]:
for i in range(len(lstl)):
    for j in range(len(lstl)-1):
        if ord(lstl[j])>ord(lstl[j+1]):
            temp=lstl[j]
            lstl[j]=lstl[j+1]
            lstl[j+1]=temp
for i in lstl:
    s+=i
for i in range(len(lstu)):
    for j in range(len(lstu)-1):
        if ord(lstu[j])>ord(lstu[j+1]):
            temp=lstu[j]
            lstu[j]=lstu[j+1]
            lstu[j+1]=temp
for i in lstu:
    s+=i
for i in range(len(lsto)):
    for j in range(len(lsto)-1):
        if ord(lsto[j])>ord(lsto[j+1]):
            temp=lsto[j]
            lsto[j]=lsto[j+1]
            lsto[j+1]=temp
for i in lsto:
    s+=i
for i in range(len(lste)):
    for j in range(len(lste)-1):
        if ord(lste[j])>ord(lste[j+1]):
            temp=lste[j]
            lste[j]=lste[j+1]
            lste[j+1]=temp
for i in lste:
    s+=i
print(s)

In [ ]:
x=input()
s=""
for i in range(len(x)):
    if "A"<=x[i]<="Z":
        s+=x[i]
for i in range(len(x)):
  if "0"<=x[i]<="9":
     if int(x[i])%2!=0:
        s+=x[i]
for i in range(len(x)):
   if "0"<=x[i]<="9":
     if int(x[i])%2==0:
        s+=x[i]
print(s)

Bracu1234
B1324

In [ ]:
#6
x=input()
y=input()
a=x.split(' ')
b=y.split(' ')
for i in range(len(a)):
    a[i]=int(a[i])
for i in range(len(b)):
    b[i]=int(b[i])
c=0
for i in b:
    p=5-i
    if p>= a[1]:
        c+=1
q=c//3
print(q)

6 4
0 1 2 3 4 5
0

In [ ]:
#6 can't solve it
d={1:".,?!:",2:"ABC",3:"DEF",4:"GHI",5:"JKL",6:"MNO",7:"PQRS",8:"TUV",9:"WXYZ",0:" "}
p=input()
x=p.upper()
s=""
for i in x:
    for k,v in d.items():
        for j in range(len(v)):
            if v[j]==i:
                s+=str(k)*(j+1)
print(s)

Hello, World!
4433555555666110966677755531111

In [ ]:
s=input()
x=s.upper()
print(x)

Hello, World!
HELLO, WORLD!

In [ ]:
a="asd"
b=a.upper()
print(a,b)

asd ASD

In [ ]:
s="Python programming is fun"
a=s.lower()
d={}
for i in a:
   if i!=" ":
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
print(d)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#3
a=[2,3,6]
b=[3,4,5]
lst=[]
for i in a:
    for j in b:
        p=i*j
        lst.append(p)
print(lst)

[6, 8, 10, 9, 12, 15, 18, 24, 30]

In [ ]:
#2
n=int(input())
max=None
for j in range(n):
    s=input()
    a=s.split(' ')
    for i in range(len(a)):
        a[i]=int(a[i])
    s=0
    for i in a:
        s+=i
    if j==0:
        max=s
        ml=a
    else:
         if s>max:
            max=s
            ml=a
print(max)
print(ml)

2
1 2 3
4 5 6
15
[4, 5, 6]

In [ ]:
#5
x=input()
y=input()
ni=-1
all=True
for i in range(len(x)):
    if x[i]!=y[ni]:
        all=False
    ni-=1
if all==True:
    print("Those strings are anagrams.")
else:
    print("Those strings are not anagrams.")

live
lvil
Those strings are not anagrams.

In [ ]:
d1={'a': 100, 'b': 100, 'c': 200, 'd': 300 }
d2={'a': 300, 'b': 200, 'd': 400, 'e': 200 }
d={}
for i in d1.keys():
    d[i]=d1[i] #is both key and value are copying
print(d)
for i in d2.keys():
    if i in d:
        d[i]=d[i]+d2[i]
    else:
        d[i]=d2[i]
print(d)
lst=[]
for i in d.values():
    lst.append(i)
lt=[]
for i in lst:
    if i not in lt:
        lt.append(i)
for i in range(len(lt)):
    for j in range(len(lt)-1):
        if lt[j]>lt[j+1]:
            temp=lt[j]
            lt[j]=lt[j+1]
            lt[j+1]=temp
print("Values:",tuple(lt))

{'a': 100, 'b': 100, 'c': 200, 'd': 300}
{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
Values: (200, 300, 400, 700)

In [ ]:
while True:
    a=input()
    if a=="STOP":
        break
    else:
        b=a.split(" ")
        for i in range(len(b)):
            b[i]=int(b[i])
        print(b)
    c=0
    for i in range(len(b)-1):
        d=abs(b[i]-b[i+1])
        p=str(d)
        q=str(len(b)-1)
        if "1"<=p<=q:
            c+=1
    if c==(len(b)-1): #check c die hbe?
        print("UB Jumper")
    else:
        print("Not UB Jumper")

1 4 2 3
[1, 4, 2, 3]
UB Jumper
2 1 4 6 10
[2, 1, 4, 6, 10]
UB Jumper
1 4 2 -1 6
[1, 4, 2, -1, 6]
Not UB Jumper
STOP

In [ ]:
x=input() #1 4 2 3
while x!="STOP":
  lst=[]
  emp=""
  for i in range(len(x)):
    if x[i]!=" ":
      emp+=x[i]
    if x[i]==" " or i==(len(x))-1:
      lst.append(int(emp))
      emp=""
  print(lst)
  c=0
  for i in range(len(lst)-1):
    d=abs(lst[i]-lst[i+1])
    a=str(d)
    b=str(len(lst)-1)
    if "1"<=a<=b:
      c+=1

  if c==(len(lst)-1):
    print("UB Jumper")
  else:
    print("Not UB Jumper")
  x=input()

1 4 2 3
[1, 4, 2, 3]
UB Jumper
2 1 4 6 10
[2, 1, 4, 6, 10]
UB Jumper
STOP

In [ ]:
x=input()
lst=[]
lst.append(int(x))
while x!="STOP":
    x=input()
    if x!="STOP":
     lst.append(int(x))
print(lst)
d={}
for i in lst:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
for i in d:
    print(i,"-",d[i],"times")

1
2
2
3
STOP
[1, 2, 2, 3]
1 - 1 times
2 - 2 times
3 - 1 times

In [ ]:
d={'key1':'value1', 'key2':'value2', 'key3':'value1'}
d1={}
for k,v in d.items():
    if v not in d1.keys():
        d1[v]=[k]
    else:
        d1[v].append(k)

print(d1)

{'value1': ['key1', 'key3'], 'value2': ['key2']}

Assignment 2 Home Task

In [ ]:
def hospital_fee(**kwargs):
    names = list(kwargs.keys())
    pay = list(kwargs.values())
    for i in range(len(pay)):
        for j in range(len(pay)-1):
            if pay[j]<pay[j+1]:
                temp,temp1=pay[j],names[j]
                pay[j],names[j]=pay[j+1],names[j+1]
                pay[j+1],names[j+1]=temp,temp1

    s=names[0]
    for i in range(len(pay)-1):
        if pay[i]==pay[i+1]:
            s+=","+names[i+1]

        else:
            break
    return pay[0],s
max_amount, max_payer = hospital_fee(Neymar =100, Dembele = 500, Reus = 100, Bale = 500)
#max_amount, max_payer = hospital_fee(Mashrafe =400, Bumrah = 900, Steyn = 1200, Cummins = 900,Wood = 400, Marsh = 700)
print(f"Highest fee was {max_amount} tk which was paid by {max_payer}")

Highest fee was 500 tk which was paid by Dembele,Bale

In [ ]:
def is_james_bond(l):
    s=""
    for i in l:
        if i==0 or i==7:
            s+=str(i)
    if "007" in s:
        return "True"
    else:
        return "False"
print(is_james_bond( [1, 9, 0, 0, 7, 5] ))

True

In [ ]:
def assign_students_to_sections(x,*args): #do we have to keep A as 1st key in Dictionary
    d={}
    for i in args:
        s=0
        for j in i:
            s+=ord(j)
        section=s%5
        sec=x[section]
        if sec not in d:
            d[sec]=[i]
        else:
            d[sec].append(i)
    for i in x:
        if i not in d:
            d[i]=[]
    return d
print(assign_students_to_sections ('ABCDE','Alice','Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'))

{'D': ['Alice', 'David', 'Eve', 'Frank'], 'A': ['Bob'], 'B': ['Charlie'], 'C': ['Grace'], 'E': []}

In [ ]:
def username_generator(fn,ln,id,mn=""):
    s=""
    x=""
    if len(fn)>3:
        for i in range(3):
            if "a"<=fn[i]<="z":
                s+=chr(ord(fn[i])-32)
            else:
                s+=fn[i]
    else:
        for i in range(len(fn)):
            if "a"<=fn[i]<="z":
                s+=chr(ord(fn[i])-32)
            else:
                s+=fn[i]
    if len(ln)>3:
        for i in range(-3,0,1):
                if "A"<=ln[i]<="Z":
                    x+=chr(ord(ln[i])+32)
                else:
                    x+=ln[i]
    else:
         for i in range(-len(ln),0,1):
            if "A"<=ln[i]<="Z":
                x+=chr(ord(ln[i])+32)
            else:
                x+=ln[i]
    id=str(id)
    s+=mn+x+"_"+id[-4::1]
    return s
first_name, middle_name, last_name, student_id= input("First Name:"), input("Middle Name:"), input("Last Name:"), int (input ("Student ID:"))
print(username_generator (first_name, last_name, student_id))
print(username_generator(first_name, last_name, student_id, middle_name))

First Name:Jahanara
Middle Name:
Last Name:Islam
Student ID:18101954
JAHlam_1954
JAHlam_1954

In [ ]:
x="AB"
for i in range(-(len(x)),0,1):
    print(x[i])

A
B

In [ ]:
def key_generator(*args):
    lst=[]
    for i in args:
        if "A"<i[0]<="Z":
            s=chr(ord(i[0])+32)
        else:
            s=i[0]
        for j in range(-2,-(len(i)),-1):
            p=str(ord(i[j]))
            s+=p
        if "a"<=i[-1]<="z":
            s+=chr(ord(i[-1])-32)
        else:
            s+=i[-1]
        lst.append(s)
    return lst
key_list = key_generator("aleX","Bob", "Trudy")
print("Encrypted Keys:",key_list)

Encrypted Keys: ['a101108X', 'b111B', 't100117114Y']

In [ ]:
def playRockPaperScissor(rounds):
    import random
    a = ["rock","paper","scissor"]
    c=0
    c1=0
    for i in range(rounds):
        pc = random.choices(a)[0] # why 0 is it a tuple of length 1
        print("Computer:",pc)
        x=input()
        if pc=="rock" and x=="paper":
            c+=1
        elif pc=="rock" and x=="scissor":
            c1+=1
        elif pc=="paper" and x=="rock":
            c1+=1
        elif pc=="scissor" and x=="rock":
            c+=1
        elif pc=="paper" and x=="scissor":
            c+=1
        elif pc=="scissor" and x=="paper":
            c1+=1
    if c>c1:
        s="You"
    else:
        s="Computer"
    return c,c1,s
p,q,r=playRockPaperScissor(3)
print("Your Score:",p)
print("Computer's Score:",q)
print(f"{r} has won the game!")

Computer: scissor
paper
Computer: scissor
paper
Computer: scissor
paper
Your Score: 0
Computer's Score: 3
Computer has won the game!

**Dictionary**

In [ ]:
#Task 1
d1={'Harry':15, 'Draco':8, 'Nevil':19}
d2={'Ginie':18, 'Luna': 14}
d3={}
for i in d1.keys():
    d3[i]=d1[i]
for i in d2.keys():
    d3[i]=d2[i]
print(d3)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Task 2
d={}
for i in range(3):
    x=input()
    y=int(input())
    d[x]=y
s=0
for i in d.values():
    s+=i
a=int(s/3)
print("Average is",a)

Jon
100
Dan
200
Rob
300
Average is 200

In [ ]:
#task 3
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
x=int(input())
d={}
for i in exam_marks.keys():
    if exam_marks[i]>=x:
      d[i]=exam_marks[i]
print(d)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#Task 4
d1={'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
h=0 #hbe? otherwise 1st value k kivabe store korbo
for i in d1.keys():
    if d1[i]>h:
        h=d1[i]
        hk=i
print(f"The highest selling book genre is '{hk}' and the number of books sold are {h}.")

The highest selling book genre is 'horror' and the number of books sold are 14.

In [ ]:
#Task 5
a="Python programming is fun"
d={}
for i in a:
   if i!=" ":
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
print(d)

{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'p': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#Task 6
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
c=0
for i in dict_1.values():
    for j in i:
        c+=1
print(c)

9

In [ ]:
#Task 7
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
d={}
for i in my_dictionary.keys():
    if my_dictionary[i]!=None:
      d[i]=my_dictionary [i]
print(d)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [ ]:
#Task 8
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
li=int(input())
ue=int(input())
lst=[]
dict_2={}
for i in dict_1.values():
    lst.append(i)
v=0
for i in dict_1.keys():
    if lst[v]>=li and lst[v]<ue:
        dict_2[i]=lst[v]
    v+=1
print(dict_2)

14
18
{}

Assignment-**1** ***String***

In [ ]:
x=input()
c1=0
c2=0
for i in range(len(x)):
    if "A"<=x[i]<="Z":
        c1+=1
    else:
        c2+=1
s=""
if  c1>c2:
    for i in range (len(x)):
        if "a"<=x[i]<="z":
            s+=chr(ord(x[i])-32)
        else:
            s+=x[i]
else:
     for i in range (len(x)):
        if "A"<=x[i]<="Z":
            s+=chr(ord(x[i])+32)
        else:
            s+=x[i]
print(s)

BaNaNa
banana

In [ ]:
x=input()
c=0
c1=0
for i in range(len(x)):
    if "0"<=x[i]<="9":
        c+=1
    else:
        c1+=1
if c==len(x):
    print("NUMBER")
elif c1==len(x):
    print("WORD")
else:
    print("MIXED")

123asd
MIXED

In [ ]:
x=input()
for i in range(len(x)-1):
    if "A"<=x[i]<="Z" and  "a"<=x[i+1]<="z":
        s=""
        for j in range(i+1,len(x)):
            if "a"<=x[j]<="z":
                s+=x[j]
            else:
                print(s)
    elif  "A"<=x[i]<="Z" and  "A"<=x[i+1]<="Z":
        print("BLANK")

samIA
BLANK

In [ ]:
x=input()
y=input()
s=""
for i in range(len(x)):
    if x[i] in y:
        s+=x[i]
for i in range(len(y)):
    if y[i] in x:
        s+=y[i]

if s=="":
    print("Nothing in common.")
else:
    print(s)

harry
hermoine
hrrhr

In [ ]:
x=input() # comma kivbe shorabo
c1=0
c2=0
c3=0
c4=0
for i in range(len(x)):
    if "A"<=x[i]<="Z":
        c1+=1
    elif   "a"<=x[i]<="z":
        c2+=1
    elif  "0"<=x[i]<="9":
        c3+=1
    else:
        c4+=1
if c1>0 and c2>0 and c3>0 and c4>0:
    print("OK")
if c1==0:
    print("Uppercase character missing",end=",")
if c2==0:
    print("Lowercase character missing",end=",")
if c3==0:
    print("Digit missing",end=",")
if c4==0:
    print("Special character missing",end=",")

1a@
Uppercase character missing,

In [ ]:
lst=[0, 0, 0, 0, 0]
for i in range(5):
  n=int(input())
  lst[i]=n
  print(lst)

1
[1, 0, 0, 0, 0]
2
[1, 2, 0, 0, 0]
3
[1, 2, 3, 0, 0]
4
[1, 2, 3, 4, 0]
5
[1, 2, 3, 4, 5]

In [ ]:
print(ord("s")-27+10)

98

In [ ]:
a=[-2, 45, 0, 11, -9]
for i in range(len(a)):
    for j in range(len(a)-1-i):
        if a[j]>a[j+1]:
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp
print(a)

[-9, -2, 0, 11, 45]

In [ ]:
#A=np.array( [[0,5],[1,2],[3,4]] )
#B=np.array( [[3,2,1],[1,2,4]] )
#A=np.array( [[0,5],[1,2],[3,4]] )
#B=np.array( [[3],[2]] )
A=np.array( [[3,4],
                     [4,5],
                     [10,11]] )
B=np.array( [ [3],
                      [2] ])
row1,row2=A.shape[0],B.shape[0]
col1,col2=A.shape[1],B.shape[1]
C=np.zeros(shape=(row1,col2),dtype=int)
for i in range(row1):
    for j in range(col2):
        s=0
        for k in range(row2):  # 3x3 * 3x4=3x4   3x2 * 2x1=3x1
            s+=A[i][k]*B[k][j]    #1st er col 2nd tar row r same hbe for multiplication r k te jkono
        C[i][j]=s                     #same value nilei hbe r i j according to 3rd matrix er shape
print(C)

[[17]
 [22]
 [52]]

In [ ]:
def reverseArray(arr):
    j=-1
    for i in range(arr.size//2):
        t=arr[i]
        arr[i]=arr[j]
        arr[j]=t
        j-=1
    return arr
arr1 = np.array([10, 12, 20, 5, 7])
arr1 = reverseArray(arr1)
print(arr1)

[ 7  5 20 12 10]

In [ ]:
def printPairs(arr,n):
    for i in range(len(arr)):
        a=arr[i]
        for j in range(i+1,len(arr)):
            s=a+arr[j]
            if s==n:
                print(f"{a}, {arr[j]}")
arr1 = np.array([7,8,10,5,3,4,2])
printPairs(arr1, 15)
print()
arr2 = np.array([2,-3,1,9,4,5])
printPairs(arr2, 6)

7, 8
10, 5

2, 4
-3, 9
1, 5

In [ ]:
vec1 = np.array([1,2,3])
vec2 = np.array([4,5,6])
sum=0
for i in range(len(vec1)):
  a=vec1[i]*vec2[i]
  sum+=a
print("Dot Product:",sum)
for i in range(len(vec1)):
  if sum%2==0:
        if i%2==0:
            temp=vec1[i]
            vec1[i]=vec2[i]
            vec2[i]=temp
  else:
        if i%2!=0:
            temp=vec1[i]
            vec1[i]=vec2[i]
            vec2[i]=temp
print("After Swapping:")
print(vec1)
print(vec2)

Dot Product: 32
After Swapping:
[4 2 6]
[1 5 3]

In [ ]:
#Selection Sort (bubble sort er niom e korle hbe na kintu!!!)
N=int(input())
a=np.zeros(N,dtype=int)
for i in range(N):
  a[i]=int(input())
print(a)
for i in range(N):
    min=i
    for j in range(i+1,N):
            if a[j]>a[min]:
                min=j
    temp=a[i]
    a[i]=a[min]
    a[min]=temp
print(a)

3
1
2
3
[1 2 3]
[3 2 1]

In [ ]:
import numpy as np
def flatten(arr):
  arr1=np.zeros(arr.size,dtype=int) #local hote hbe
  row=arr.shape[0]
  col=arr.shape[1]
  k=0
  for i in range(row):
    for j in range(col):
       arr1[k]=arr[i][j]
       k+=1
  return arr1
arr1 = np.array([[1, 2, 3],
                 [3, 4, 5]])
arr2 = flatten(arr1)
print(arr2)

[1 2 3 3 4 5]

In [ ]:
A = np.array([  [1,  0,  0,  0],
                        [0,  1,  0,  0],
                        [0,  0,  1,  1],
                        [0,  0,  0,  1] ])
all=False
for i in range(A.shape[0]):
    for j in range(A.shape[1]):
        if (i==j and A[i][j]==1):
            all=True
        if (i!=j and A[i][j]==0):
            all=True
        else:
            all=False
            break
    if all==False:
        print("Not an Identity Matrix")
        break
if all==True:
    print("Identity Matrix")

Not an Identity Matrix

In [ ]:
for i in range(-6,0,1):
    print(i)

-6
-5
-4
-3
-2
-1

In [ ]:
for i in range(5):
   print(".",end="")

.....

In [ ]:
n="789"
for i in range(len(n)-1,-1,-1):
    print(n[i])

9
8
7

In [ ]:
print(1234%10)

4

In [ ]:
def reverse(n):
    if n==0:
        print()
    else:
        print(n%10)
        reverse(n//10)
reverse(649)

9
4
6

In [ ]:
def  power(a,n):
    if n==0:
        return 1
    else:
        return a*power(a,n-1)
print(power(3,5))

243

In [ ]:
def sequence(n):
    if n==0:
        return 0
    elif n%2==0:
        return sequence(n-1)-n
    elif n%2!=0:
        return sequence(n-1)+n
print(sequence(10))

-5

In [ ]:
print(["a"]+[6])

['a', 6]

In [ ]:
def nested(lst):
    for i in range(len(lst)):
        if type(lst[i])==list:
            nested(lst[i])
        else:
            lt.append(lst[i])
    return lt
lt=[]
print(nested(["start", 10.6, [4, 2, [11, [9, "mid", 3, [1, 0], 6]], 8], "Done"]))

['start', 10.6, 4, 2, 11, 9, 'mid', 3, 1, 0, 6, 8, 'Done']

In [ ]:
b="[1, 2, 3, -4, 5]"
a=b[1:-1:1]
lst=[]
emp=""
for i in range(len(a)):
    if a[i]!="," and a[i]!=" ":
        emp+=a[i]
    if a[i]=="," or i==(len(a)-1):
        lst.append(int(emp))
        emp=""
print(lst)
lt=[]
for i in range(-1,-len(lst)-1,-1):
    lt.append(lst[i])
print(lt)

[1, 2, 3, -4, 5]
[5, -4, 3, 2, 1]

Important problems

In [ ]:
# using .count
def function_name(a_list):
  new_list=[]
  for i in range(len(a_list)):
     if new_list.count(a_list[i])<2:
       new_list.append(a_list[i])
  return new_list
function_name([1,2,3,3,3,3,4,5,8,8,])

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
def function_name(a_list):
  new_list=[]
  for i in range(len(a_list)):
       c=0
       for j in range(len(new_list)):
        if new_list[j]==a_list[i]:
            c+=1
       if c<2:
        new_list.append(a_list[i])
  return new_list
function_name([1,2,3,3,3,3,3,4,5,8,8,])

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#task 13 input e eki sathe integer r float
#float e nibo erkm mix thakle
x=input()
y=float(input())
z=float(input())

def function_name(a,b,c):
  if x=="+":
    result=y+z
  elif x=="-":
    result=y-z
  elif x=="/":
    result=y/z
  elif x=="*":
   result=y*z
  return result

print(function_name(x,y,z))

In [ ]:
def one_call(n):
    print("In One call")
    if n%3==0:
        return n+7
        print("one Call Done")
    return n-9
    return 12 #lge ni?
def two_call(a,b=20,c="sayounara"):
    a+=b//2+6
    if type(c)==str:
        b=c[b]+c[len(c)-b]
    else:
        b = (b+c)%3
    result =one_call(a)
    print(result)
    if type(b)==str:
        return b,c

x,y=two_call(11,3)
t=two_call(3,8,12)
print(t)
print(x,y)

In One call
25
In One call
4
None
oa sayounara

In [ ]:
import numpy as np #hocche na
#evabe hbe na ekhane A i change hye jacche .copy diei hbe khli slice dieo hbe na
A= np.array([[4,3,2],[7,1,5],[-1,0,10]])
temp=A[1]
A[1]=A[2]
A[2]=temp

print(A)

[[ 4  3  2]
 [-1  0 10]
 [-1  0 10]]

In [ ]:
#s k r ki korle use korte parbo?
# rekta function use korbo
s=0
def sum(lst):
    global s
    for i in lst:
        if type(i)==list:
            sum(i)
        else:
            s+=i
    return s
print(sum([ 4, [2, 5], [ 3, [1], 7 ], [ [ 4, [7, 6] ], 2], [8, 10] ]))

59

In [ ]:
def list_sum(n_list, start, end):
    if start > end:
        return 0
    else:
        return n_list[start] + list_sum(n_list, start+1, end)
print(list_sum([20, 43, 150, 24], 0, 3))

237

In [ ]:
def list_sum(n_list, start, end):
    if start <= end:
        return n_list[start] + list_sum(n_list, start+1, end)
    else:
        return 0
print(list_sum([20, 43, 150, 24], 0, 3))

237

In [ ]:
def list_conv(n_list, start, end):
    if start <=end:
        result.append( float( n_list[start] ) )
        return list_conv([20, 43, 150, 24], start + 1, end)
    else:
        return result

result = []
out = list_conv([20, 43, 150, 24], 0, 3)
print(out)

[20.0, 43.0, 150.0, 24.0]

In [ ]:
def sum_all_nums(dlist, index):
    if index >= len(dlist):
        return 0
    if type( dlist[index] ) == int:
        return_of_next_index = sum_all_nums(dlist, index + 1)
        big_sum = dlist[index] + return_of_next_index
        return big_sum
    else:
        small_sum = sum_all_nums( dlist[index], 0 )
        return_of_next_index = sum_all_nums(dlist, index + 1)
        big_sum = small_sum + return_of_next_index
        return big_sum
data = [ 4, [2, 5], [ 3, [1], 7 ], [ [ 4, [7, 6] ], 2], [8, 10] ]
result = sum_all_nums(data, 0)
print(result)

59

In [ ]:
def min3(lista, listb, listc):
    for i in range(len(lista)):
        min=lista[i]
        if listb[i]<min:
            min=listb[i]
            if listc[i]<min:
                min=listc[i]
        lst.append(min)
    return lst
lst=[]
print(min3([4,-5,6,7], [1,6,2,0], [-4,2,9,0]))

[-4, -5, 2, 0]

In [ ]:
#19 parina
input_string = "neymar"
sorted_string = ""
while len(input_string)>0:
    min_char = input_string[0]
    for char in input_string:
        if ord(char) <ord(min_char):
            min_char = char
    sorted_string += min_char
    for i in input_string:
        if i!=min_char:
            input_string+=i
print(sorted_string)

In [ ]:
x="neymar"
for i in range(len(x)):
    min=i
    for j in range(i+1,len(x)):
        if x[j]<x[min]:
            min=j
            print(x[min])
    x=x[:i]+x[min]+x[i:min:]+x[min+1:]
    print(x)
print(x)

e
a
aneymr
e
aenymr
m
aemnyr
aemnyr
r
aemnry
aemnry
aemnry

In [ ]:
#1 lagbena ekhn
def longest_common_subsequence(a,b):
    emp=""
    for i in range(len(a)):
        if (a[i] in b) or (chr(ord(a[i])-32) in b) or (chr(ord(a[i])+32) in b):
            emp+=a[i]
    print(emp)

longest_common_subsequence("aBcd", "bdGc")
longest_common_subsequence("agrde", "pAgrc")
longest_common_subsequence("TonY", "tHor")

Bcd
agr
To

In [ ]:
#2 parina
def count_substring(a,b):
   c=0
   for i in a:
    if b in a:
        c+=1
   print(c)
count_substring("abcaBcabc", "abc")
count_substring("abcabcabc", "abc")
count_substring("xyz", "abc")

9
9
0

In [ ]:
#3
def sum_of_digits(p):
    n=str(p)
    s=0
    for i in n:
        s+=int(i)
    print(s)
sum_of_digits(12345)
sum_of_digits(987)
sum_of_digits(0)

15
24
0

In [ ]:
#4
def find_max(lst):
    max=lst[0]
    for i in range(len(lst)):
        if lst[i]>max:
            max=lst[i]
    print(max)
find_max([3, 7, 1, 9, 4])
find_max([0, -3, -7, -2])
find_max([5, 2, 8, 1, 6])

9
0
8

In [ ]:
#5
def sum_of_evens(lst):
    s=0
    for i in range(len(lst)):
        if lst[i]%2==0:
            s+=lst[i]
    print(s)
sum_of_evens([1, 2, 3, 4, 5, 6])
sum_of_evens([10, 15, 22, 31, 48])
sum_of_evens([7, 11, 13, 17, 19])

12
80
0

In [ ]:
#6
def recursive_sum_of_digits(n):
    p=str(n)
    sum=int(p[-1])
    if n==0:
        return 0
    else:
        return sum+recursive_sum_of_digits(n//10)

    print(sum)
recursive_sum_of_digits(1234)

10

In [ ]:
#7
def collatz_sequence(n):
    if n==1:
        print(1)
    elif n%2==0:
        print(n,end=" ")
        collatz_sequence(n//2)
    elif n%2!=0:
        print(n,end=" ")
        collatz_sequence((n*3)+1)
collatz_sequence(11)

11 34 17 52 26 13 40 20 10 5 16 8 4 2 1

In [ ]:
def triangular_sequence(n):
    s=0
    for i in range(1,n+1):
        s+=i
        print(s,end=" ")
triangular_sequence(4)

1 3 6 10

In [ ]:
#8 recursion
def triangular_sequence(n):
    if n==1:
        print(1)
    else:
        sum=0
        for i in range(1,n+1):
            sum+=i
        print(sum,end=" ")
        triangular_sequence(n-1)
triangular_sequence(8)

36 28 21 15 10 6 3 1

In [ ]:
def triangular_sequence(j,n):
    if j<=n:
        sum=0
        for i in range(1,j+1):
            sum+=i
        print(sum,end=" ")
        triangular_sequence(j+1,n)
triangular_sequence(1,10)

1 3 6 10 15 21 28 36 45 55

In [ ]:
def prime_sequence(a,n):
    if a!=n:
        s=0
        for i in range(1,a):
            if a%i==0:
                s+=1
        if s==1:
            print(a,end=" ")
        prime_sequence(a+1,n)
prime_sequence(2,10)

2 3 5 7

In [ ]:
for i in range(1,2):
    print(i)

1

In [ ]:
#9 recursion
def prime(n):
    if n==1:
        print()
    else:
        s=0
        for i in range(2,n):
            if n%i==0:
                s+=i
        if s==0:
            print(n,end=" ")
        prime(n-1)
prime(10)

7 5 3 2

In [ ]:
#9
def prime_sequence(n):
    for i in range(2,n+1):
        s=0
        for j in range(2,i):
            if i%j==0:
                s+=j
        if s==0:
            print(i,end=" ")
prime_sequence(20)

2 3 5 7 11 13 17 19

In [ ]:
s=0
for i in range(2,5):
  if 7%i==0:
    s+=i
if s==0:
    print("prime")

prime

In [ ]:
#10 recursion chara hbe na
def flatten_list(lt):
    lst=[]
    for i in range(len(lt)):
        if type(lt[i])==list:
            for j in range(len(lt[i])):
                lst.append(lt[i][j])
        else:
            lst.append(lt[i])
    print(lst)
flatten_list([1, [2, [3, 4], 5], [6, [7, 8], 9]])
flatten_list([1, [2], [3, [4], [5, [6]]]])

[1, 2, [3, 4], 5, 6, [7, 8], 9]
[1, 2, 3, [4], [5, [6]]]

In [ ]:
#10 recursion
lst=[]
def flatten_list(it):
   for i in range(len(it)):
    if type(it[i])==list:
        flatten_list(it[i])
    else:
        lst.append(it[i])
   return lst
print(flatten_list([1, [2, [3, 4], 5], [6, [7, 8], 9]])) #remove korle shb gula list lst te add hocche
print(flatten_list([1, [2], [3, [4], [5, [6]]]]))
print(flatten_list([1, [2, [3, [4, 5], 6], 7], 8]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#11
def binary_search(lst, a):
    all=True
    for i in range(len(lst)):
        if a==lst[i]:
            all=True
            print(f"Index of {a}: {i}")
            break
        else:
            all=False
    if all==False:
        print(f"index of {a}: -1")
binary_search([2, 4, 7, 10, 18, 23, 29, 35], 42)

index of 42: -1

In [ ]:
#12 13 lgbena

Previous Semester(MID, LAB_MID)

In [ ]:
x="racecar"
s=""
for i in range(len(x)):
    c=0
    for j in range(len(x)):
        if x[i]==x[j]:
            c+=1
    if c>1:
       s+="#"
    else:
       s+=x[i]
print(s)

###e###

In [ ]:
#Q2 Special character er part bujhini
x="Hello a"
y=3
s=""
for i in range(len(x)):
    a=chr(ord(x[i])-y)
    s+=a
print(s)

Ebiil^

In [ ]:
#y z e ki korbo
x="Today is Saturday"
y=3
s=""
for i in range(len(x)):
    a=chr(ord(x[i])+y)
    s+=a
print(s)

Wrgd|#lv#Vdwxugd|

In [ ]:
#Thikase? .0 u sorate hbe?
lst=[[20, 3], [33, 7], [11, 14]]
max=-1
a=0
for i in range(len(lst)):
    area=1/2
    for j in range(2):
        area*=lst[i][j]
    print(f"Area of Triangle {i+1}: {area}")
    if area>max:
        max=area
        a=i+1
        b=lst[i][0]
        c=lst[i][1]
print(f"Triangle {a} is the largest with a base of {b} and a height of {c}")

Area of Triangle 1: 30.0
Area of Triangle 2: 115.5
Area of Triangle 3: 77.0
Triangle 2 is the largest with a base of 33 and a height of 7

In [ ]:
x="I-can-cook-"
y="-"
z=""
for i in range(len(x)):
    if x[i]==y:
        z+=" "
    else:
        z+=x[i]
print(z)
emp=""
p=""
for i in range(len(z)):
    if z[i]!=" ":
        emp+=z[i]
    if z[i]==" " or i==len(z)-1:
        for j in range(-1,-len(emp)-1,-1):
            p+=emp[j]
        p+=" "
        emp=""
print(p)

I can cook
I nac kooc

In [ ]:
#Problem 05
x="preparation is needed."
z=""
for i in range(-1,-len(x)-1,-1):
    if x[i]!=" ":
        z+=x[i]
if z[0]==".":
    a=","+z[1::]
    print(a)
else:
    print("Do not change")

,dedeensinoitaraperp

In [ ]:
x="abc12"
y=""
if "a"<=x[0]<="z":
    for i in range(len(x)):
        if "a"<=x[i]<="z":
            y+=chr(ord(x[i])-32)
        elif "0"<=x[i]<="9":
            y+=x[i]+"0"
    print(y)
elif "0"<=x[0]<="9":
    for i in range(len(x)):
        if "0"<=x[i]<="9":
            y+=x[i]
        elif "a"<=x[i]<="z":
            break
    print(y)

ABC1020

In [ ]:
lst=["hi",12, "3", 5.5, True, -2, 0.4]
y=""
for i in range(len(lst)):
    y+=str(lst[i])
print(y)

hi1235.5True-20.4

In [ ]:
x="cook"
p=""
for j in range(-1,-len(x)-1): #-1 na dile starting -1 increment 1=0 so empty string ashbe
     p+=x[j]
print(p)

In [ ]:
a="aaabbccdddaaarfaafstttt"
lst=[]
emp=a[0]
for i in range(len(a)-1):
    if a[i]==a[i+1]:
        emp+=a[i]
        print(emp)
    if a[i]!=a[i+1] or i==(len(a)-1):
            lst.append(emp)
            emp=a[i+1]
print(lst)

aa
aaa
bb
cc
dd
ddd
aa
aaa
aa
tt
ttt
tttt
['aaa', 'bb', 'cc', 'ddd', 'aaa', 'r', 'f', 'aa', 'f', 's']

In [ ]:
a="aaabbccdddaaarfaafstttt"
emp=""
for i in range(len(a)):
    if emp=="" or a[i]==emp[-1]:
        emp+=a[i]
    if not (emp=="" or a[i]==emp[-1]) or i==len(a)-1:
        print(emp,len(emp))
        emp=a[i]

aaa 3
bb 2
cc 2
ddd 3
aaa 3
r 1
f 1
aa 2
f 1
s 1
tttt 4

Tracing

In [ ]:
myList = [10, 20, 30, 40, 25, 10, 20, 30, 40]
p = len(myList) - 1
q = p
r = 0
x = p//2
new = myList
while q >= x:
       print(myList[q])
       r = p - q
       while r  > 10:
            new [r] = myList[p] - new[q] + r
            r = r - 1
       print(new[r])
       q = q - 1
print(-42%29)
print(-7%41)
print(len(new) not in myList)

40
10
30
20
20
30
10
40
25
25
16
34
True

In [ ]:
myList1 = [1,7,5, 7,8]
myList = [2,3,4,6,9,7,[10,11]]
var1 = 2
var3 = myList1
b = myList.copy()
d = 1
while (var1 < 5):
   var2 = 1
   while (var2 <= var1):
        print (myList1 [var2])
        var3 [var2] = myList1 [var2] - var3 [var1] - 3
        print("var3[var2]:",var3[var2])
        b[var2] = myList[var2] - myList1[var1] - b[6][1]
        print("b[var2]:",b[var2])
        print(-b[var2]%b[6][1])
        if d == 1:
            myList = b.copy()
            print(myList)
            d +=1
        var2 = var2 + 1
   var1= var1 + 1
   print("l",len(var3))
   print("myList1:",myList1)
   print (len (var3) in myList1)

7
var3[var2]: -1
b[var2]: -13
2
[2, -13, 4, 6, 9, 7, [10, 11]]
5
var3[var2]: -3
b[var2]: -4
4
l 5
myList1: [1, -1, -3, 7, 8]
False
-1
var3[var2]: -11
b[var2]: -31
9
-3
var3[var2]: -13
b[var2]: -14
3
7
var3[var2]: -3
b[var2]: -2
2
l 5
myList1: [1, -11, -13, -3, 8]
False
-11
var3[var2]: -22
b[var2]: -32
10
-13
var3[var2]: -24
b[var2]: -15
4
-3
var3[var2]: -14
b[var2]: -13
2
8
var3[var2]: -3
b[var2]: 1
10
l 5
myList1: [1, -22, -24, -14, -3]
False

In [ ]:
print(-1//11)

-1

In [ ]:
def one_call(n):
    print("In One call")
    if n%3==0:
        return n+7
        print("one Call Done")
    return n-9
    return 12
def two_call(a,b=20,c="sayounara"):
    a+=b//2+6
    if type(c)==str:
        b=c[b]+c[len(c)-b]
    else:
        b = (b+c)%3
    result =one_call(a)
    print(result)
    if type(b)==str:
        return b,c

x,y=two_call(11,3)
t=two_call(3,8,12)
print(t)
print(x,y)

In One call
25
In One call
4
None
oa sayounara

In [ ]:
print(-42%29)
print(-7//11)
print(-13%11)

16
-1
9

In [ ]:
N=int(input())
def sequence_recursive(N):
  if N==0:
    return 0
  elif N%2==0:
    return sequence_recursive(N-1)-N
  elif N%2!=0:
    return sequence_recursive(N-1)+N
print(sequence_recursive(N))

2
-1

In [ ]:
a="Samia"
print(a[len(a)-1:-2:-1])

a

In [ ]:
def sequence_recursive(i,n):
  if n<=0:
    return 0
  elif n%2!=0:
    sum=sequence_recursive(i,n-1)-(n**2)
  elif n%2==0:
    sum=sequence_recursive(i,n-1)+(n**2)
  return sum
print(sequence_recursive(1,5))

-15

In [ ]:
myList=[10, 20, 30, 40, 25, 10, 20, 30, 40]
p=len(myList)-1
q=p
r=0
x=p//2
while q>=x:
  print(myList[q])
  r=p-q
  while r>10:
    myList[r]=myList[p]-myList[q]+r
    r-=1
  print(myList[r])
  q-=1

40
10
30
20
20
30
10
40
25
25

In [ ]:
def list_to_string(a):
    s=""
    for i in range(len(a)):
        p=str(a[i])
        s+=p
    return s
print(list_to_string([-5, 0.3, "3"]))

-50.33

In [ ]:
myList=[52, -87, -8, -92, 7, -92, 53, 83, 10,-60]
index1=0
index2=0
index1=1
while(index1<=5):
    myList[index1]=index1+5
    index2=0
    while(index2<5):
        if (index2%2==0):
            myList[index1]=myList[index1]+myList[index2]-index2
            print(myList[index1])
        else:
            myList[index1]=myList[index2]-myList[index1]+index1
            print(myList[index1])
        index2=index2+1
    print("o",myList[index1])
    index1+=1

58
1
-9
-82
-79
o -79
59
-136
-274
184
187
o 187
60
-136
49
3
6
o 6
61
-136
49
-39
-82
o -82
62
-136
49
-38
-124
o -124

Practice sheet on string

In [ ]:
#1
x=input()
c1=0
c2=0
c3=0
for i in x:
    if "A"<=i<="Z" or "a"<=i<="z":
        c1+=1
    elif "0"<=i<="9":
        c2+=1
    else:
        c3+=1
print("The number of Alphabets in the string is:",c1)
print("The number of Digits in the string is :",c2)
print("The number of Special characters in the string is:",c3)

This is CSE110 Course.
The number of Alphabets in the string is: 15
The number of Digits in the string is : 3
The number of Special characters in the string is: 4

2 parina

In [ ]:
s="I am Samia"
x=s+" "
emp=""
b=""  #boro tar length obosshoi empty string thke boro
c=s #input string theke choto hote hbe
for i in x:
    if i!=" ":
        emp+=i
    elif i==" ":
        if len(emp)>len(b):
          b=emp
        if len(emp)<len(c):
            c=emp
        emp=""
print("largest",b)
print("smallest",c)

largest Samia
smallest I

In [ ]:
#x="India is great"
#y='is'
x="this is cSe110 course and we lOve it"
y="i11oavl"
z=""
for i in range(len(x)):
        if x[i] not in y and chr(ord(x[i])+32) not in y:
            z+=x[i]
print(z)

ths s cSe0 curse nd we e t

In [ ]:
x=input()
p=x[0]
if  not "A"<=p<="Z":
    p=chr(ord(p)-32)
for i in range(len(x)-1):
    if x[i]!=" ":
        p+=x[i+1]
    elif x[i]==" ":
        p+=" "+chr(ord(x[i+1])-32)
print(p)

tell me why it aint nothing but a heart break
Tell  Me  Why  It  Aint  Nothing  But  A  Heart  Break

In [ ]:
#5
p=input()
x=p+","
emp=""
lst=[]
product=1
for i in range(len(x)):
    if x[i]!=",":
        emp+=x[i]
    elif x[i]==",":
        lst.append(emp)
        product*=int(emp)
        emp=""
print(lst)
print(product)

10,0,20,3,1
['10', '0', '20', '3', '1']
0

In [ ]:
#6
x=int(input())
s=0
for i in range(1,x+1):
    num="1"*i
    s+=int(num)
    if i==x:
      print(num)
    else:
      print(num,end="+")
print(s)

5
1+11+111+1111+11111
12345

In [ ]:
x=input()
y="aeoiuAEIOU"
p=""
for i in range(len(x)):
    a=x[i]
    if a not in y:
      p=p+a
print(p)

Samia
Sm

In [ ]:
print("Hi\n"*4)

Hi
Hi
Hi
Hi

In [ ]:
sum=0
for i in range(1,11):
    if i%2==0:
      sum-=i
    else:
      sum+=i
print(sum)

-5

In [ ]:
print(1+18*2**1+1+3%2**1/2+5)

43.5

In [ ]:
print(15+3*15%2+15%2+1)

18

In [ ]:
x=int(input())
y=int(input())
print("Sum=",x+y)
print("Product=",x*y)
print("Difference=", x-y)

10
5
Sum= 15
Product= 50
Difference= 5

In [ ]:
x=int(input("Enter radius"))
a=2*3.1416*x
b=3.1416*x**2
print("Area is",b)
print("Circumference is",a)

Enter radius4
Area is 50.2656
Circumference is 25.1328

In [ ]:
x=int(input("Enter 1st number"))
y=int(input("Enter 2nd number"))
if x>y:
  print("First is greater")
elif x<y:
  print("Second is greater")
else:
  print("The numbers are equal")

Enter 1st number10
Enter 2nd number15
Second is greater

In [ ]:
x=int(input("Enter the amount"))
y=int(x/500)
z=x%500
a=int(z/100)
b=z%100
c=int(b/50)
d=b%50
e=int(d/20)
f=d%20
g=int(f/10)
h=f%10
i=int(h/5)
j=h%5
k=int(j/2)
l=j%2
m=int(l/1)
print("500 Taka:",y,"note(s)")
print("100 Taka:",a,"note(s)")
print("50 Taka",c)
print("20 Taka",e)
print("10 Taka",g)
print("5 Taka",i)
print("2 Taka",k)
print("1 Taka",m)

Enter the amount1234
500 Taka: 2 note(s)
100 Taka: 2 note(s)
50 Taka 0
20 Taka 1
10 Taka 1
5 Taka 0
2 Taka 2
1 Taka 0

In [ ]:
print(234%100)

34

In [ ]:
a=int(input('Enter one side'))
b=int(input('Enter one side'))
c=int(input('Enter one side'))
s=(a+b+c)/2

area=s*((s-a)*(s-b)*(s-c))**0.5
print(area)

Enter one side7
Enter one side10
Enter one side5
53.88877434122991

In [ ]:
x=int(input("Enter a year"))
if x%4==0 or x%400==0:
  print("it's a leap year")
else:
  print("it's not a leap year")

Enter a year2036
it's a leap year

In [ ]:
year=int(input())
if year%400==0:
  print("Leap year")
elif year%4==0:
  print("Leap year")
else:
  print("Not a leap year")

2032
Leap year

In [ ]:
x=6
y=10
y=x
print(x)
print(y)
x-=2
x+=2
x//=1
print(x)
print(x!=y and a)
print(x*y**2)
print(x+5*4%2-1)
q=(6*2//2-2**(2-1))
print(q)
print(x==q)
print(x-((x+y%2)*3)/2)

6
6
6
False
216
5
4
False
-3.0

In [ ]:
print("Hello"+"Hi")

HelloHi

In [ ]:
print("Hello","Hi")

Hello Hi

In [ ]:
print("Hello"+" "+"Hi")

Hello Hi

In [ ]:
print("Hello",end="")
print("Hi")

HelloHi

In [ ]:
x=input("Enter your first name")
a=input("Enter your last name")
y=int(input("Enter your age"))
z=float(input("Enter your CGPA"))
b=y-2
c=z+.25
print("Name:",x,"Rahman")
print("Age:",b)
print("CGPA:",c)

Enter your first nameLabiba
Enter your last nameArif
Enter your age23
Enter your CGPA3.7
Name: Labiba Rahman
Age: 21
CGPA 3.95

In [ ]:
a=3
b=2
c=b**a
print('2^3:',c)

2^3: 8

In [ ]:
from math import log10
a=log10(6)
print(a)

0.7781512503836436

In [ ]:
print(54+56)

110

In [ ]:
season="Summer"
year=2023
print(season)
print(year)

Summer
2023

In [ ]:
x=input("Enter your name")
y=input("Enter your name")
print("Your name is",x)
print("Your name is",y)

Enter your nameJohn
Enter your nameAlbert
Your name is John
Your name is Albert

In [ ]:
A=int(input("Enter an integer"))
B=int(input("Enter an integer"))
C=int(input("Enter an integer"))
D=float(input("Enter an floating point number"))
a=A**C+B*A-D/3
print(int(a))

Enter an integer2
Enter an integer6
Enter an integer8
Enter an floating point number1.3
267

In [ ]:
a,b,c=1,1.0,'T'
print(a,b,c)

1 1.0 T

In [ ]:
x=100
y=100
id(x)==id(y)

True

In [ ]:
_x=5
print(_x)

5

In [ ]:
x=7
y=3
if x>y:
  print("First is greater")
elif x<y:
  print("Second is greater")
else:
  print("The numbers are equal")

First is greater

In [ ]:
x=int(input())
if x%2==0:
  print("The number is even")
else:
  print("The number is odd")

7
The number is odd

In [ ]:
x=int(input())
if x%2==0 or x%5==0:
  print(x)
else:
  print("Not a multiple of 2 OR 5")

10
10

In [ ]:
#Home task 1
x=int(input())
y=int(input())
if x>y:
  print(x-y)
else:
  print(y-x)

-40
-4
36

In [ ]:
#Home task 2
x=int(input())
if x%2==0 and x%5==0:
  print("Multiple of 2 and 5 both")
elif x%2==0:
  print(x)
elif x%5==0:
  print(x)
else:
  print("Not a multiple we want")

15
15

In [ ]:
#Home task 3
S=int(input("Enter a number"))
if S<100:
  L=3000-125*(S**2)
  print(L)
elif S>=100:
  L=12000/(4+(S**2)/14900)
  print(L)
else:
  print("Invalid value")

Enter a number3
1875

In [ ]:
#Home task4
x=int(input("Enter an hour"))
if not(0<=x<=23):
  print("Wrong time")
elif 4<=x<=6:
  print("Breakfast")
elif 12<=x<=13:
  print("Lunch")
elif 16<=x<=17:
  print("Snacks")
elif 19<=x<=20:
  print("Dinner")
else:
  print("Patience is a virtue")

Enter an hour-1
Wrong time

In [ ]:
#Home task 5
x=int(input("Enter your mark"))
if not(0<x<100):
  print("Invalid value")
elif x>=90:
  print("A")
elif 80<=x<=89:
  print("B")
elif 70<=x<=79:
  print("C")
elif 60<=x<=69:
  print("D")
elif 50<=x<=59:
  print("E")
else:
  print("F")

Enter your mark80
B

In [ ]:
num1 = 10
num2 = -3
num3 = -1
sum = num1 + num2 + num3
if (num3 < 0):
    print(num3 * -2)
else:
    print(sum)
if (num1 < 5):
    print(num1 + 10)
elif (num2 == -3):
    num2 = num1
    print(num2)
else:
    print(num1 + num2 + num3)
if (num1 > 15):
    print(num1)
elif (num2 == 0):
    print(num2 + num3)
else:
    print(num3)
if (sum != 0):
    print(100)
else:
    print(sum + 100)
if (num1 > 0 and num2 < 0):
    print(num1 == num2)
else:
    print("False")

2
10
-1
100
False

In [ ]:
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
True
True
True
True
True
False
True
True
False

In [ ]:
#Task 20
x=int(input("Enter an integer value"))
if x%2==0:
  print('No')
elif x%5==0:
  print('No')
elif x%2!=0 and x%5!=0:
  print(x)
else:
  print("Invalid value")

Enter an integer value13
13

In [ ]:
x=int(input("Enter an integer value"))
if x%2==0 and x%5==0:
  print("No")
elif x%2!=0 or x%5!=0:
  print(x)
else:
  print("Invalid value")

Enter an integer value10
No

In [ ]:
x=int(input("Enter the number of canvases"))
y=int(input("Enter the number of paint tubes"))
a=x*120
b=y*75
c=a+b
if 0<=c<=299:
  print("Previous total:",c)
  print("New total after discount:",c)
elif 300<=c<=499:
  print("Previous total:",c)
  print("New total after discount:",c-10)
elif 500<=c<=749:
  print("Previous total:",c)
  print("New total after discount:",c-20)
elif 750<=c<=999:
  print("Previous total:",c)
  print("New total after discount:",c-50)
elif c>=1000:
  print("Previous total:",c)
  print("New total after discount:",c-150)
else:
  print("Invalid value")

Enter the number of canvases0
Enter the number of paint tubes3
Previous total: 225
New total after discount: 225

In [ ]:
x=int(input('Enter the temparature'))
y=((x)-32)*0.56
if y<20:
  print(y,"degrees C")
  print("Winter")
elif 20<=y<25:
  print(y,"degrees C")
  print("Autumn")
elif 25<=y<30:
  print(y,"degrees C")
  print("Spring")
elif y>=30:
  print(y,"degrees C")
  print("Summer")
else:
  print("Nothing")

Enter the temparature82
28.000000000000004 degrees C
Spring

In [ ]:
x=int(input())
y=int(input())
z=int(input())
if x+y>z:
  print("Valid triangle")
else:
  print("Not a valid triangle")

7
9
12
Valid triangle

In [ ]:
a=b=c=d= False
e,f,g= "True",False,2
x,y,z=10,5,15
if a:
  print("hello")
else:
    a = True
if x % g == 0:
    print("T" not in e)
    if a == b:
        print("Right")
    else:
        if (a or b) and (a or d):
            print(f"{a} {b} {d}")
            print(-55%6)
            print(55%-6==0)
else:
    print("wasted time")
if a:
    c = True
    if a and (c and d):
        e = True
    elif a and (c or d):
        d = "True"
        print(a or (c and b))
    else:
        b = True
        y = 9
else:
    print("your tracing is correct")
if x > 10:
    a=b=c=d= False
elif 2 % -3 == 0:
    print(-4%5)
elif x != 0 or y <= 10 or z == 15:
    if x >= 10 and y != 5 or d == True:
        d = True
    elif not(b and a):
        d = not(d)
        a = not(a)
        b = not((a and b) or c)
        c = not((c or b) and d)
else:
    print()
print(f"{a} {b} {c} {d}")
print(x,y,z)

False
True False False
5
False
True
False False True False
10 5 15

In [ ]:
print(-55%6)

5

In [ ]:
S = int(input("Enter a number :"))
if S < 100:
    L = 3000 - 125 * S**2
    print(L)
elif S >= 100:
    L = 12000/(4+(S**2/14900))
    print(L)

Enter a number :-5
-125

In [ ]:
#Assignment-2Branching_part-1(2)
x=int(input("Enter the salary"))
y=int(input("Enter the year of service"))
if y>5:
  a=x*0.05
  print(a)
else:
  print("No bonus")

Enter the salary5000
Enter the year of service6
250.0

In [ ]:
x=int(input())
y=int(input())
if x>y:
  print(x)
else:
  print(y)

5
10
10

In [ ]:
x=int(input())
y=int(input())
z=int(input())
if x>y and x>z:
  print('Oldest',x)
elif y>z and y>x:
  print('Oldest',y)
else:
  print('Oldest',z)

20
10
5
Oldest 20

In [ ]:
x=int(input())
y=int(input())
z=int(input())
if x<y and x<z:
  print("Youngest",x)
elif y<z and y<x:
  print("Youngest",y)
else:
  print("Youngest",z)

5
10
15
Youngest 5

In [ ]:
x=int(input())
print(x)

-1
-1

In [ ]:
x="SAMIA"
y=9
print(x,end=" ")
print(y)

SAMIA 9

In [ ]:
n=int(input())
if n%2==0:
    if 2<=n<=5:
        print("Not Weird")
    elif 6<=n<=20:
        print("Weird")
    elif n>20:
        print("Not Weird")
    else:
        print("Nothing")
else:
    print("Weird")

-20
Nothing

In [ ]:
count=24
while count>=-6:
 if count==-6:
  print(count,end="")
 else:
  print(count,end=",")
 count-=6

24,18,12,6,0,-6

In [ ]:
x=input("Enter the name of your favorite car")
count=1
y=int(input("Enter a number"))
while count<=y:
  print(x)
  count+=1

Enter the name of your favorite carVeyron
Enter a number5
Veyron
Veyron
Veyron
Veyron
Veyron

In [ ]:
n=600
count=1
sum=0
while count<=n:
 if count%7==0 and count%9==0:
  sum +=count
 count+=1
print(sum)

2835

In [ ]:
count=1
sum=0
while count<=600:
  if count%7==0 and count%9==0:
    count+=1
  elif count%7==0 or count%9==0:
    sum+=count
    count+=1
  else:
    count+=1
print(sum)

39814

In [ ]:
for i in range(10,50+1):
  if i%2!=0:
    print(i,end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
count=10
while count<=50:
  if count%2!=0:
    print(count,end=" ")
  count+=1

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
n=int(input())
count=1
sum=0
while count<=n:
  if count%2==0:
    sum=sum-(count**2)
  else:
    sum=sum+(count**2)
  count+=1
print(sum)

5
15

In [ ]:
count=int(input)
while count
if count%2!=0:
  sum=sum+count
count+=1

In [ ]:
#assignment 3
#Home Task 1
N=int(input())
count=1
sum=0
while count<=N:
  if count%7==0 and count%9==0:
    count+=1
  elif count%7==0 or count%9==0:
    sum=sum+count
    count+=1
  else:
    count+=1
print(sum)

600
39814

In [ ]:
#Home Task 2
x=input()
count=len(x)
n=int(x)
while not n==0:
    a=10**(count-1)
    b=n//a
    print(b)
    n=n%a
    a=a//10
    count-=1

12345
1
2
3
4
5

In [ ]:
n = input("Enter the number: ")
for i in n:
    print(i[0] ,end=", ")

Enter the number: 32678
3, 2, 6, 7, 8,

In [ ]:
x=int(input())
count=0
sum=0
for i in range(1,x):
  print(i)

1

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(1,i+1):
     print(j,end="")
  print()

4
1
12
123
1234

In [ ]:
print(14-9.5)
print(1/3.0%8)
print((2+10.0)/2)
print(0%2)
print(4+4-2+1/3.0%8)
print(15-9.5)

4.5
0.3333333333333333
6.0
0
6.333333333333333
5.5

In [ ]:
x=0
y=0
sum=0
p=0.0
while x<10:
   y=x//2
   while y<x:
    p=(x+10.0)/2
    sum=(sum%2)+x-y*2+int(p)
    print(sum)
    y=y+2
   if x>5:
    x+=1
   else:
    x+=2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
x = 0
y = 0
q = 0
sum = 0
while (x < 10):
  p = 0.0
  p = x + y - sum + int(5 / 3) / 3.0 % 2 ** 3
  print("p=",p)
  y = x // 5
  print("y=",y)
  while (y < x):
     q = (x + 10.0) / 2
     print("q=",q)
     sum = (sum % 2) + y + int(p)
     print("sum=",sum)
     y = y + 4
     print("y=",y)
  if (x > 5):
    x += 3
    print("x=",x)
  else:
    x += 2
    print("x=",x)
    print(int(p) + q)
print(sum - q)

p= 0.3333333333333333
y= 0
x= 2
0
p= 2.3333333333333335
y= 0
q= 6.0
sum= 2
y= 4
x= 4
8.0
p= 6.333333333333333
y= 0
q= 7.0
sum= 6
y= 4
x= 6
13.0
p= 4.333333333333333
y= 1
q= 8.0
sum= 5
y= 5
q= 8.0
sum= 10
y= 9
x= 9
p= 8.333333333333334
y= 1
q= 9.5
sum= 9
y= 5
q= 9.5
sum= 14
y= 9
x= 12
4.5

In [ ]:
p = 0
r = 0
while p < 7:
    q = 1
    while q <= p:
      q = q + 1
      if q == 4 or q == 5:
        continue
        print(p - q * 2)
      elif p==6:
        break
        print(p % q)
      else:
        r = p * q - int(21 / q)
        print(r)
    p = p + 1

-8
-6
-1
-4
2
-2
5
0
8
27

In [ ]:
test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test += k + j -21
    print(1 + int (test / 2))
    j += 10
  k -= 10
  test = 1

41
85
135
189
249
313
383
457
537
621

In [ ]:
import math
n=int(input("Enter the quantity: "))
maximum=-math.inf
minimum=math.inf
sum=0
count=1
while count <= n :
    num=int(input("Enter a Number : "))
    sum+=num
    if num>maximum:
        maximum=num
    if num<minimum:
        minimum=num
    count+=1
print("Maximum",maximum)
print("Minimum",minimum)
print("Average",sum/n)

Enter the quantity: 5
Enter a Number : 10
Enter a Number : 4
Enter a Number : -1
Enter a Number : -100
Enter a Number : 1
Maximum 10
Minimum -100
Average -17.2

In [ ]:
x=10
count=1
sum=0
p=0
while count<=x:
  a=int(input("Enter a number"))
  if a%2!=0:
    sum=a+sum
    p+=1
  count+=1
print(sum)
print(sum/p)

Enter a number-20
Enter a number13
Enter a number-5
Enter a number40
Enter a number-17
Enter a number10
Enter a number20
Enter a number-8
Enter a number99
Enter a number-200
90
22.5

In [ ]:
N=int(input("Enter a Number"))
count=1
sum=0
while count<=N:
  if count%7==0:
    sum+=count
  count+=1
print(sum)

Enter a Number75
385

In [ ]:
x=int(input())
count=1
sum=0
while count<=x:
  a=int(input())
  sum=sum+count
  print(sum)
  count+=1

5
1
1
2
3
3
6
4
10
5
15

In [ ]:
x=int(input())
while x>0:
  a=x%10
  print(a,end=",")
  x=x//10
print(chr(8))

32768
8,6,7,2,3,

In [ ]:
x=int(input())
count=0
for i in range(1,x+1):
  if x%i==0:
    print(i)
    count+=1
print("Total",count,"divisors")

121
1
11
121
Total 3 divisors

In [ ]:
n = int(input("Enter the number: "))
print(n % 10 , end='')
n//=10

while n > 0:
    print(',' , n % 10 , end='')
    n//=10

Enter the number: 32768
8, 6, 7, 2, 3

In [ ]:
x=int(input())
for i in range(2,x):
  if x%i!=0:
    print("Prime number")
    break
  else:
    print("Not a prime number")
    break

6
Not a prime number

In [ ]:
N=int(input())
for i in range(N):
  for j in range(N):
    print("+",end="")
  print()

5
+++++
+++++
+++++
+++++
+++++

In [ ]:
M=int(input())
N=int(input())
for i in range(M):
  for j in range(1,N+1):
    print(j,end='')
  print()

3
2
12
12
12

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

5
1
12
123
1234
12345

In [ ]:
for i in range(1,1):
  print(i)

In [ ]:
a=3
b=4
c=4
print(f"{a}{b}{c}")

344

In [ ]:
a=b=c=d= False
e,f,g= "True",False,2
x,y,z=10,5,15
if a:
  print("hello")
else:
    a = True
if x % g == 0:
    print("T" not in e)
    if a == b:
        print("Right")
    else:
        if (a or b) and (a or d):
            print(f"{a} {b} {d}")
            print(-55%6)
            print(55%-6==0)
else:
    print("wasted time")
if a:
    c = True
    if a and (c and d):
        e = True
    elif a and (c or d):
        d = "True"
        print(a or (c and b))
    else:
        b = True
        y = 9
else:
    print("your tracing is correct")
if x > 10:
    a=b=c=d= False
elif 2 % -3 == 0:
    print(-4%5)
elif x != 0 or y <= 10 or z == 15:
    if x >= 10 and y != 5 or d == True:
        d = True
    elif not(b and a):
        d = not(d)
        a = not(a)
        b = not((a and b) or c)
        c = not((c or b) and d)
else:
    print()
print(f"{a} {b} {c} {d}")
print(x,y,z)

False
True False False
5
False
True
False False True False
10 5 15

In [ ]:
x=int(input())
if x%2!=0 and x%5!=0:
  print(x)
else:
  print("No")

12
No

In [ ]:
x=int(input())
if x%2!=0 or x%5!=0:
  print(x)
else:
  print("No")

15
15

In [ ]:
x=int(input())
if x%2==0 and x%5==0:
  print("Multiple of 2 and 5 both")
elif x%2==0 or x%5==0:
  print(x)

10
Multiple of 2 and 5 both

In [ ]:
for i in range(-10,21,5):
  print(i,end=",")
print(chr(8))

-10,-5,0,5,10,15,20,

In [ ]:
count=18
while count<=63:
  if count%2==0:
    print(count,end=',')
  else:
    print(count*-1,end=',')
  count+=9
print(chr(8))

18,-27,36,-45,54,-63,

In [ ]:
x=input()
y=int(input())
for i in range(y):
  print(x)

Toyota
2
Toyota
Toyota

In [ ]:
count=1
sum=0
n=int(input())
while count<=n:
  if count%2==0:
    sum=sum+((-1)*count**2)
  else:
    sum=sum+(count)**2
  count+=1
print(sum)

10
-55

In [ ]:
x=10
count=1
a=0
sum=0
while count<=10:
  p=int(input())
  if p%2!=0:
    sum+=p
    a+=1
  count+=1
print(sum)
print(sum/a)

1
2
3
4
5
6
7
8
9
10
25
5.0

In [ ]:
n=10
count=1
sum=0
while count<=10:
  a=int(input())
  sum=sum+a
  print(sum)
  count+=1

1
1
1
2
2
4
3
7
4
11
5
16
65
81
5
86
5
91
6
97

In [ ]:
#string
x=input()
a=len(x)
if x[-1]=="r" and x[-2]=="e":
  print(x+chr(8)+chr(8)+"est")
elif x[-1]=="t" and x[-2]=="s" and x[-3]=="e":
  print(x)
elif a>3:
  print(x+"er")
elif a<4:
  print(x)

ber
berest

In [ ]:
x=input()
for i in range(len(x)):
  for j in range(i+1):
    print(x[j],end="")
  print( )

DREAM
D
DR
DRE
DREA
DREAM

In [ ]:
x=input()
for i in range(len(x)):
  print(x[i],":",ord(x[i]))

hunger
h : 104
u : 117
n : 110
g : 103
e : 101
r : 114

In [ ]:
x=input()
for i in range(1,len(x),2):
  a=x[i]
  if "A"<=a<="Z":
    print(a,end="")
  else:
    b=ord(a)-32
    print(chr(b),end="")

aBcd
BD

In [ ]:
x=input()
y=input()
for i in range(len(x)):
  a=x[i]
  if y in a:
    print(a+chr(8),end="")
  elif y not in a:
    print(a,end="")

tanjiro kamado
a
tanjiro kamado

In [ ]:
x=input()
y=int(input())
if y%2==0:
  a=y*2
  print(x*a)
else:
  b=y*3
  print(x*b)

CSE110
3
CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

In [ ]:
x=input()
for i in range(len(x)):
  a=x[i]
  if 'a'<=a<="z":
    p=ord(a)-32
    q=chr(p)
    print(q,end="")
  else:
    print(a,end="")

He's FAst
HE'S FAST

29/10/23

In [ ]:
#Evaluation task2
x=input()
y="aeiouAEIOU"
count=0
count1=0
for i in x:
  if "a"<=i<="z" or "A"<=i<="Z":
    if i in y:
      count+=1
    else:
      count1+=1
if count==0 or count1==0:
  print("Blimey")
elif count%3==0 and count1%5==0:
  print("Aaarr! Me Plunder!!")
else:
  print("Blimey! No Plunder!!")

Yo-ho-Ya-ho-hoo!
Aaarr! Me Plunder!!

In [ ]:
#Home Task
x=input()
a=""
i=0
for i in x:
 if i not in a:
   a=a+i
print(a)

AABBCCDD
ABCD

In [ ]:
#Home task1
x=input()
a=""
for i in range(len(x)-1):
  if x[i]!=x[i+1]:
      a=a+x[i]
print(a+x[-1])

AABBBBCDEEEE
ABCDE

In [ ]:
#Home task2
x=input()
i=0
while x[i]!=",":
  i+=1
s1=x[0:i:]
s2=x[i+2::]
a=""
choto=s1
if len(choto)>len(s2):
  choto=s2
for j in range(len(choto)):
  a=a+s1[j]+s2[j]
a=a+s1[len(choto)::]+s2[len(choto):]
print(a)

ABCDEFGH, ijkl
AiBjCkDlEFGH

In [ ]:
#Home task3
x=input()
p=""
for i in range(len(x)):
  if x[i]=="z":
    p=p+"a"
  else:
    a=ord(x[i])+1
    b=chr(a)
    p=p+b
print(p)

the cow
uif!dpx

In [ ]:
#Home task4
x=input()
p=""
c=0
for i in range(len(x)):
  if x[i]!=" ":
    if c%2==0 and "a"<=x[i]<="z":
      p=p+chr(ord(x[i])-32)
    elif c%2!=0 and "A"<=x[i]<="Z":
      p=p+chr(ord(x[i])+32)
    else:
      p=p+x[i]
    c+=1
  else:
    p=p+x[i]
print(p)

c
C

In [ ]:
test = ""
i = 1
j = 0
k = 7
while (i< 5):
  k-=1
  j = k
  while (j > 4 ):
    if j % 2 == 0:
       test = "<--"
       test = test + str(i) + '3' + "-->" + str(j // 3)
    else:
       test = "-->"
       test = "-->" + str((i // 3)) + test + str(j)
    print(test)
    j -=1
  i+=2

<--13-->2
-->0-->5
-->1-->5

In [ ]:
i = 10
while(i >= -20):
  if(i < 0):
    test = " != "
    test = str(i//2) + test + str(int(i/2))
  else:
    test = " == "
    test = str(i//2) + test + str(int(i/2))
  print(test)
  i -= 5

5 == 5
2 == 2
0 == 0
-3 != -2
-5 != -5
-8 != -7
-10 != -10

In [ ]:
test = ""
i = 5
j = 0
k = 15
while i< 10:
  k-=1
  j = k
  while 5 < j - 5:
    if (j % 2) == 0:
      test = "<--"
      test = str(test) + str(i) + str(2) + "-->" + str(int(j / 2))
    else:
      test = "-->"
      test = "-->" + str(int(i / 2)) + str(test) + str(j)
    print(test)
    j = j-1
  i+=1

<--52-->7
-->2-->13
<--52-->6
-->2-->11
-->3-->13
<--62-->6
-->3-->11
<--72-->6
-->3-->11
-->4-->11

In [ ]:
i=0
j=0
k=15
test = '<--cat'
while i < 5:
  k -= 1
  j = k
  while j > 10:
    if j % 2 == 0:
      test += '-->'
      test = test + str(i) + str(j // 2)
    else:
      test += '<--'
      test = test + str(i // 2) + str(j)
    print(test)
    j-=1
  i+=1

<--cat-->07
<--cat-->07<--013
<--cat-->07<--013-->06
<--cat-->07<--013-->06<--011
<--cat-->07<--013-->06<--011<--013
<--cat-->07<--013-->06<--011<--013-->16
<--cat-->07<--013-->06<--011<--013-->16<--011
<--cat-->07<--013-->06<--011<--013-->16<--011-->26
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111<--111

In [ ]:
a=input()
print(a[2-len(a)::])

Hello
llo

In [ ]:

for i in range (0, 100, 10):
 if i % 30 == 0:
   continue
 elif i % 45 == 0:
  break
print(i)

90

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  a=int((i**i)/i)
  sum=sum+a
print(sum)

5
701

In [ ]:
p=int(input())
for i in range(1,11):
  print(f'{p} x {i}={p*i}')

2
2 x 1=2
2 x 2=4
2 x 3=6
2 x 4=8
2 x 5=10
2 x 6=12
2 x 7=14
2 x 8=16
2 x 9=18
2 x 10=20

In [ ]:
x=int(input())
if x==1 or x==2:
  print("Line")
elif x==3:
  a=int(input())
  b=int(input())
  c=int(input())
  if a+b>c:
    print("Triangle")
  elif b+c>a:
    print("Triangle")
  elif c+a>b:
    print("Triangle")
  else:
    print("Not a triangle")
elif x==4:
  a=int(input())
  b=int(input())
  c=int(input())
  d=int(input())
  if a+b+c>d:
    print("Rectangle")
  elif b+c+d>a:
    print("Rectangle")
  elif c+d+a>b:
    print("Rectangle")
  elif d+a+b>c:
    print("Rectangle")
  else:
    print("Not Rectangle")
else:
  print("Invalid input")

4
2
3
2
1
Rectangle

In [ ]:
#After Mid
x=input()
y=""
for i in x:
  if i==" ":
    a=y
  else:
    a=y+i
  b=a
  print(b)

a
a

In [ ]:
N=int(input())
sum=0
for i in range(N):
  sum=sum+i
  print(sum)

10
0
1
3
6
10
15
21
28
36
45

In [ ]:
x=input()
uppercase=""
lowercase=""
spchr=""
digit=""
for i in range(len(x)):
  p=x[i]
  if 'A'<=p<='Z':
    uppercase+=p
  elif 'a'<=p<='z':
    lowercase+=p
  elif "0"<=p<="9":
    digit+=p
  elif p!=" ":
    spchr+=p
print(uppercase)
print(lowercase)
print(digit)
print(spchr)
c=""
for j in range(len(uppercase)):
  c=c+uppercase[j]+lowercase[j]+digit[j]+spchr[j]
print(c)

a1A  dCe   @    3  $F   #4
ACF
ade
134
@$#
Aa1@Cd3$Fe4#

In [ ]:
N=int(input())
sum=1
for i in range(1,N+1):
  for j in range(1,i+1):
    print(sum+j,end="")
  print()

5
2
23
234
2345
23456

In [ ]:
i=1
h=1
sum=0
while i<10:
  j=i*15
  while j<=25:
    k=i+j*2**i+h+3%2**h/2+sum
    sum=sum+5
    if j%2==0 or sum%2==0:
      print(int(k))
    else:
      p="-"
      p+=str(j+sum)+"-->"+str(j)+"<--"
      print(p)
    j=j+3*j%2+j%2+1
  print(j)
  i+=j%4+1
print(sum)

-20-->15<--
43
-34-->19<--
61
-48-->23<--
26
60
75
135
25

In [ ]:
print(22+3*22%2+22%2+1)

23

In [ ]:
print(1+22*2**1+1+3%2**1/2+15)

61.5

In [ ]:
x=input()
sum=0
a=""
for i in range(len(x)):
  if x[i]!=",":
    sum=sum+int(x[i])
print(sum)

1,2,3,4
10

In [ ]:
num=input()
sum=0
b=''
for i in num:
  if i ==",":
    sum=sum+int(b)
    b=''
  else:
    b=b+i
sum=sum+int(b)
print(sum)

5,10,-5,0,100
110

In [ ]:
x=input()
sum=0
for i in range(len(x)-1):
  a=x[i]
  sum=sum+int(x[i])
print(sum)
b=int(x[len(x)-1])
if sum%10==b:
  print("match")
else:
  print('not match')

123456786
36
match

In [ ]:
print(22%-6)

-2

In [ ]:
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print("Hi\n"*3)

Hi
Hi
Hi

In [ ]:
x=input()
n=int(input())
sum=0
for i in range(len(x)):
  a=x[i]
  sum=sum+(int(a))**n
if sum==int(x):
  print("It's an Armstrong number")
else:
  print("It's not an Armstrong number ")

1634
4
It's an Armstrong number

In [ ]:
x=int(input())
y=float(input())
z=int(input())
a=x+y
b=str(a)+str(z)
print(b)

33
1.9
753
34.9753

In [ ]:
#Decimal to binary
x=int(input())
y=""
while not x==0:
   a=x%2
   x=x//2
   y=y+str(a)
   b=y[::-1]
print(b)

11
1011

In [ ]:

#Binary to decimal
x=input()
sum=0
b=len(x)-1
for i in range(len(x)):
    a=x[i]
    sum=sum+((2**b)*int(a))
    b-=1
print(sum)

1010
10

In [ ]:
start=int(input())
stop=int(input())
count1=0
count2=0
a=""
b=""
for i in range(start,stop+1):
   sum=0
   for j in range(1,i):
      if i%j==0:
         sum+=j
   if sum==i:
      a=a+str(i)
      count1+=1
   elif sum==1:
      b=b+str(i)+","
      count2+=1
print("Between",start,"and",stop)
print("Found",count2,"prime numbers")
print("Found",count1,"perfect number")
print("Prime numbers:"+b+chr(8))
print("Perfect number:"+a)

2
6
Between 2 and 6
Found 3 prime numbers
Found 1 perfect number
Prime numbers:2,3,5,
Perfect number:6

In [ ]:
x=int(input())
if x>900:
  a=x-(x*(11/100))
  b=int(x-a)
  if b%4==0 and b%11!=0:
    c=b-(b*(8/100))
    d=int(b-c)
    print(d)
  else:
    print("Sorry,your discount is:",b)
else:
  print("No discount")

1400
Sorry,your discount is: 154

In [ ]:
start=int(input())
stop=int(input())
z=int(input())
for i in range(start,stop+1):
  a=str(i)
  p=1
  for j in range(len(a)):
    x=a[j]
    p=p*int(x)
  if p%z==0:
    print(p,end=" ")

351
356
9
45 90

In [ ]:
x=int(input())
if 22<=x<=55:
  point=74
  print("This is the end!")
elif x>55:
  fine=1150
  point=0
  print(fine-point)
elif x<22:
  fine=1264
  point=0
  print(fine-point)

70
1150

In [ ]:
x=input()
if x=="Stop":
  print(0)
else:
  p=1
  while x!="Stop":
    p=p*int(x)
    x=input()
  print(p)

Stop
0


66 problems of **string**

In [ ]:
a="Samia"
print(a[::-1])

aimaS

In [ ]:
x=input()
b='aeiouAEIOU'
count=0
for i in x:
    if i in b:
       count+=1
print(count)

real slim shady please stand up
9

In [ ]:
#Palindrome
x=input()
a=False
for i in range(len(x)):
   if x[i]==x[-i-1]:
     a=True
   else:
    a=False
    print("The string is not a palindrome.")
    break
if a==True:
  print("The string is a palindrome.")

1234321
The string is a palindrome.

In [ ]:
a=""
x=input()
for i in x:
   if i!=" ":
       a=a+i
print(a)

We love Bangladesh
WeloveBangladesh

In [ ]:
#5
x=input()
com=""
for i in range(len(x)):
  a=x[i]
  count=0
  if a not in com:
    for j in range(len(x)):
        if a ==x[j]:
            count+=1
    com+=a
    print(a, count,"times")

samiaaa
s 1 times
a 4 times
m 1 times
i 1 times

In [ ]:
x=input()
com=""
for i in range(len(x)):
  a=x[i]
  count=0
  for j in range(len(x)):
        if a ==x[j]:
            count+=1
  print(a, count,"times")

Samiaaa
S 1 times
a 4 times
m 1 times
i 1 times
a 4 times
a 4 times
a 4 times

In [ ]:
x=input()
y="aeoiuAEIOU"
p=""
for i in range(len(x)):
    q=x[i]
    if q not in y:
      p=p+q
print(p)

the sun also rises
th sn ls rss

In [ ]:
x="My name is Samia"
emp=""
for i in range(len(x)-1,-1,-1):
    if x[i]!=" ":
        emp+=x[i]
    if x[i]==" " or i==0:
        emp=emp[::-1]
        print(emp,end=" ")
        emp=""

Samia is name My

In [ ]:
x="My name is samia"
emp=""
for i in range(len(x)):
    if x[i]!=" ":
        emp+=x[i]
    if x[i]==" " or i==len(x)-1:
        if "a"<=emp[0]<="z":
           emp= chr(ord(emp[0])-32)+emp[1::]
        print(emp,end=" ")
        emp=""

My Name Is Samia

In [ ]:
x=input()
p=x[0]
if  not "A"<=p<="Z":
    p=chr(ord(p)-32)
for i in range(len(x)-1):
    if x[i]!=" ":
        p+=x[i+1]
    elif x[i]==" ":
        p+=" "+chr(ord(x[i+1])-32)
print(p)

tell me why it aint nothing but a heart break
Tell  Me  Why  It  Aint  Nothing  But  A  Heart  Break

In [ ]:
#9
x=input()
c=1
for i in range(len(x)):
    if x[i]==" ":
        c+=1
print(c)

i am Samia
3

In [ ]:
x=input()
y=int(input())
p=x[y::-1]+x[y+1:]
print(p)

12345
2
32145

In [ ]:
x=input()
c=0
for i in range(len(x)):
  a=x[i]
  if "A"<=a<="Z":
    c+=1
print(c)

BangLaDesh
3

In [ ]:
x=input()
y=input()
c=0
for i in x:
  if y in i:#y in x hoi na kno
    c+=1
print(c)

Messi
s
2

In [ ]:
x=input()
y="aeoiuAEIOU"
a=""
for i in x:
  if i in y:
    a=a+"*"
  else:
    a=a+i
print(a)

samia
s*m**

In [ ]:
x=input()#Samiaa
a=""
for i in range(len(x)-1):
  if x[i]!=x[i+1]:
    a=a+x[i]
print(a+x[i])

Saammiiaa
Samia

In [ ]:
#19 parina
input_string = "neymar"
sorted_string = ""
while len(input_string)>0:
    min_char = input_string[0]
    for char in input_string:
        if ord(char) <ord(min_char):
            min_char = char
    sorted_string += min_char
    for i in input_string:
        if i!=min_char:
            input_string+=i
print(sorted_string)

KeyboardInterrupt: ignored

In [ ]:
x=input()
all=True
for i in range(len(x)):
  if "a"<=x[i]<="z" or "A"<=x[i]<="Z" or "0"<=x[i]<="9":
    all=True
  else:
    all=False
if all==True:
    print("It's an alphanumeric number")
else:
    print("It's not an alphanumeric number")

a1b2c3
It's an alphanumeric number

In [ ]:
x=input()
all=True
for i in range(len(x)):
  if "A"<=x[i]<="Z":
     print("Not lowercase")
     all=False
     break
if all:
     print("All lowercase")

aaaaabb
All lowercase

In [ ]:
x=input()
all=True
for i in range(len(x)):
  a=x[i]
  if not "0"<=a<="9":
    all=False
    print("Not all")
    break
if all:
    print("All digits")

12345
All digits

In [ ]:
x=input()
c=0
for j in range(len(x)):
  b=x[j]
  if x[j]=='.' and  "0"<=x[j-1]<="9" :
    c+=1
if c==3:
  print("ip address")
else:
  print("invalid")

1.1.1.12
ip address

In [ ]:
# 30
x=input()
for i in range(len(x)):
  for j in range(i+1):
    print(x[j],end="")
  print()

SAMIA
S
SA
SAM
SAMI
SAMIA

In [ ]:
a = input()
i = 0
while i < len(a):
    print(a[0:i+1])
    i += 1

BANGLA
B
BA
BAN
BANG
BANGL
BANGLA

In [ ]:
a=input()
i=len(a)
while i>=0:
  print(a[:i:])
  i-=1

SAMIA
SAMIA
SAMI
SAM
SA
S

In [ ]:
x=input()
i=0
while i<len(x):
  print(x[:i+2:])
  i+=2

BANGLA
BA
BANG
BANGLA

In [ ]:
x=input()
i=0
while i<len(x):
  print(x[:i+1:])
  i+=2

bangla
b
ban
bangl

In [ ]:
x=input()
i=0
while i<len(x):
  print(x[i::-1])
  i+=1

bangla
b
ab
nab
gnab
lgnab
algnab

In [ ]:
x=input()
i=0
while i<len(x):
  if i%2==0:
     print(x[i])
  i+=1

bangla
b
n
l

In [ ]:
x=input()
y=""
for i in range(len(x)):
  y=y+x[i]+x[i]
print(y)

siu
ssiiuu

In [ ]:
x=input()
for i in range(len(x)):
  print(x[i],":",ord(x[i]))

Programming
P : 80
r : 114
o : 111
g : 103
r : 114
a : 97
m : 109
m : 109
i : 105
n : 110
g : 103

In [ ]:
#40 number e a er jonno c-1 kno
a=input()
c=int(input())
b=""
for i in range(len(a)):
  x=ord(a[i])
  b=b+chr(x+c)
print(b)

abcd
5
fghi

In [ ]:
x=input()
z=""
for i in range(len(x)):
  a=x[i]
  if not "1"<=a<="9":
    z=z+a
print(z)

a1b2c3d4
abcd

In [ ]:
#46
x=input()
y=input()
choto=len(x)
if len(y)<choto:
  choto=len(y)
a=""
for i in range(choto):
  a=a+x[i]+y[i]
a=a+x[choto::]+y[choto::]
print(a)

india
pakistan
ipnadkiiastan

In [ ]:
x=input()
y=input()
p=x[::-1]
q=y[::-1]
print(q+p)

reverse
order
redroesrever

In [ ]:
x=input()
y=input()
p=""
for i in range(len(x)):
  a=x[i]
  if a not in y:
    p=p+a
print(p)

abcd
defg
abc

In [ ]:
x=input()
y=""
for i in range(len(x)):
  a=x[i]
  if a==" ":
    y=y+"_"
  else:
    y=y+a
print(y)

this is a string
this_is_a_string

In [ ]:
x=input()
y=input()
z=""
for i in range(len(x)):
  a=x[i]
  if a!=y:
    z=z+a
print(z)

tanjiro kamado
a
tnjiro kmdo

In [ ]:
x=input()
y=input()
z=input()
p=""
for i in range(len(x)):
  a=x[i]
  if a==y:
    p=p+z
  else:
    p=p+a
print(p)

Salam
a
u
Sulum

In [ ]:
x=input()
a=x[-1]+x[1:len(x)-1]+x[0]
print(a)

bangladesh
hangladesb

In [ ]:
x=input()
y=input()
for i in range(len(x)):
  a=x[i]
  if a!=y:
    print(a,end="")
  else:
    print()

This_is_a_string
_
This
is
a
string

In [ ]:
x=input()
for i in x:
  if "a"<=i<="z" or "A"<=i<="Z":
    print(i,end="")
  else:
    print()

This is a sentence
This
is
a
sentence

56 57 58 parina

In [ ]:
x=input()
z=""
j=0
for i in range(len(x)):
  a=x[i]
  if a!=" ":
    if j%2==0:
      if "a"<=a<="z":
        z=z+chr(ord(a)-32)
        j+=1
      else:
        z=z+a
        j+=1
    else:
      if "A"<=a<="Z":
        z=z+chr(ord(a)+32)
        j+=1
      else:
        z=z+a
        j+=1
  else:
      z=z+" "
print(z)

Python programming is very easy
PyThOn PrOgRaMmInG iS vErY eAsY

In [ ]:
#parina space kothai chacche #64 65 teo
x=input()
y=int(input())
z=""
for i in range(len(x)):
  a=x[i]
  if y%2==0:
     #z=z+x*y+" " vul?
     z=z+(x+" ")*y
  else:
    z=z+(x+" ")*2
print(z)

this is a string
3
this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string this is a string

In [ ]:
number=2
increment=3
sum=0
count=1
n=int(input())
while count<=n:
  sum=sum+number
  number=number+increment
  increment+=2
  count+=1
print(sum)

4
34

FUNCTION

In [ ]:
#task 1
def even_checker(number):
  if number%2==0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(5)
even_checker(2)

Odd!!
Even!!

In [ ]:
def fibonacci(limit):
  n0=0
  n1=1
  while n0<=limit:
    print(n0,end=" ")
    temp=n0
    n0=n1
    n1=temp+n1
fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
#task 3
def foo_moo(number):
  A=""
  if number%2==0 and number%3==0:
    return "FooMoo"
  elif number%2==0:
    return "Foo"
  elif number%3==0:
    return "Moo"
  else:
    return "Boo"
print(foo_moo(6))
print(foo_moo(2))
print(foo_moo(9))
print(foo_moo(5))

FooMoo
Foo
Moo
Boo

In [ ]:
#Task4
def function_name(string):
  count1=0
  count2=0
  for i in range (len(string)):
    if "A"<=string[i]<="Z":
       count1+=1
    elif "a"<=string[i]<="z":
      count2+=1
  print("No. of Uppercase characters :",count1)
  print("No. of Lowercase Characters: ",count2)
function_name('The quick Sand Man')
print()
function_name('HaRRy PotteR')

No. of Uppercase characters : 3
No. of Lowercase Characters:  12

No. of Uppercase characters : 5
No. of Lowercase Characters:  6

In [ ]:
#task 5
x=int(input("Age:"))
y=int(input("Salary:"))
z=input("Designation:")
def calculate_tax(age,salary,designation):
  if x<18  or y<10000 or z=="president" or z=="President" :
    tax= 0
  elif 10000<=y<=20000:
    tax=y*(5/100)
  elif y>20000:
    tax= y*(10/100)
  return tax
print(calculate_tax(x,y,z))

Age:20
Salary:20000
Designation:president
0

In [ ]:
#task6
x=int(input())
def function_name(number):
  year=x//365
  a=x%365
  month=a//30
  b=a%30
  print(year,"years", ",",month,"months","and",b,"days")
function_name(x)

4330
11 years , 10 months and 15 days

In [ ]:
#task7
def show_palindrome(number):
  a=str(number)
  for i in range(number-1,0,-1):
    a=str(i)+a+str(i)
  return a
print(show_palindrome(5))

123454321

In [ ]:
a=str(5)
for i in range(5-1,0,-1):   #reverse er somoi -1 mention korbo
    a=str(i)+a+str(i)
print(a)

123454321

In [ ]:
#task 8
def show_palindrome_triangle(number):
  for i in range(1,number+1):
    space=(2*(number-i))
    print(" " *space, end=" ")
    print(show_palindrome(i))
show_palindrome_triangle(5)

         1
       121
     12321
   1234321
 123454321

In [ ]:
def show_palindromic_triangle(n):
    for i in range(1,n+1):
        space=" "*(2*(n-i))
        print(space,end="")
        print(show_palindrome(i))
show_palindromic_triangle(5)

        1
      121
    12321
  1234321
123454321

In [ ]:
#task12 count chara kivbe kora jai?
def function_name(a_list):
  new_list=[]
  for i in range(len(a_list)):
     if new_list.count(a_list[i])<2:
       new_list.append(a_list[i])
  return new_list
function_name([1,2,3,3,3,3,4,5,8,8,])

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
def function_name(a_list):
  new_list=[]
  for i in range(len(a_list)):
    c=0
    for j in range(i+1,len(a_list)):
        if a_list[i]==a_list[j]:
            c+=1
    if c<2:
       new_list.append(a_list[i])
  return new_list
function_name([1,2,3,3,3,3,3,4,5,8,8,])

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#task 13 input e eki sathe integer r float thkle float nibo
x=input()
y=float(input())
z=float(input())

def function_name(a,b,c):
  if x=="+":
    result=y+z
  elif x=="-":
    result=y-z
  elif x=="/":
    result=y/z
  elif x=="*":
   result=y*z
  return result

print(function_name(x,y,z))

+
10
20
30.0

In [ ]:
#task 14
x=input()
y=int(input())
def function_name(string,position):
  new_string=x[0]
  new=""
  for i in range(1,len(x)):
    if i%y!=0:
      new_string+=x[i]
    else:
      new+=x[i]
  return new_string+new
print(function_name(x,y))

I love programming.
3
I lveprgrmmngo oai.

In [ ]:
#sum of n integers
n=int(input())
def recursive_summation(i,N):
  if i==N:
    return 1
  else:
    return N+recursive_summation(1,N-1)
print(recursive_summation(1,n))

5
15

In [ ]:
#Task16
x=int(input())
def splitting_money(amount):
  a=x//500
  b=x%500
  c=b//100
  d=b%100
  e=d//50
  f=d%50
  g=f//20
  h=f%20
  i=h//10
  j=h%10
  k=j//5
  l=j%5
  m=l//2
  n=l%2
  string=f'500 Taka: {a} note(s)' f"100 Taka: {c} note(s)" f"50 Taka: {e} note(s)" f"20 Taka: {g} note(s)" f"10 Taka: {i} note(s)" f"5 Taka: {k} notes" f"2 Taka: {m} note(s)" f"1 Taka: {n} note(s)"
  return string
print(splitting_money(x),end="\n")

1234
500 Taka: 2 note(s)100 Taka: 2 note(s)50 Taka: 0 note(s)20 Taka: 1 note(s)10 Taka: 1 note(s)5 Taka: 0 notes2 Taka: 2 note(s)1 Taka: 0 note(s)

In [ ]:
#Task 17
def remove_odd(a_list):
  compact_list=[]
  for i in range(len(a_list)):
    if a_list[i]%2==0:
      compact_list.append(a_list[i])
  return compact_list
remove_odd([21,33,44,66,11,1,88,45,10,9])

[44, 66, 88, 10]

In [ ]:
#task 18
x=int(input())
y=int(input())
p=int(input())
q=int(input())
def function_name(a,b,c,d):
  sum=0
  for i in range(x,y):
    if (i%p==0 or i%q==0) and not (i%p==0 and i%q==0):
      sum=sum+i
  return sum
print(function_name(x,y,p,q))

5
100
3
4
2012

In [ ]:
#19
x=input()
def function_name(a_string):
  all=True
  for i in range(65,75):
    if chr(i) not in x and chr(i+32) not in x:
      all=False
  if all==True:
    result=5
  else:
    result=6
  return result
function_name(x)
print( "PSG will win the Champions League this season\n"*function_name(x))

abcdefghj
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season

In [ ]:
def f(a):
    b=""
    for i in a:
        if "A"<=i<="Z":
            c=chr(ord(i)+32)
            b+=c
        else:
            b+=i
    print(b)
    c=0
    for i in range(ord("a"),(ord("j")+1)):
        if chr(i) in b:
            c+=1
    if c==10:
        result=5
    else:
        result=6
    return result
p=input()
print("PSG will win the Champions League this season\n"*f(p))

A black jackal is huntinG a fUll groWn Deer
a black jackal is hunting a full grown deer
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season

In [ ]:
#task 20
def individul_bonus_calculation(a,b,c,d):
  if c>30:
    bonus=int(c*(d/100*b)+10000)
    x=f'{a} earned a bonus of {bonus} Taka for {c} goals'
  elif 20<=c<=30:
    bonus=int(c*(d/100*b)+5000)
    x= f'{a} earned a bonus of {bonus} Taka for {c} goals'
  else:
    bonus=int(c*(d/100*b)+0)
    x=f'{a} earned a bonus of {bonus}Taka for {c} goals'
  return x
print(individul_bonus_calculation("Luis",80000,25,10))

Luis earned a bonus of 205000 Taka for 25 goals

In [ ]:
#task 21
def call_bonus(*args):
  print(individul_bonus_calculation(*args))
call_bonus("Neymar",1200000,35,5)

Neymar earned a bonus of 2110000 Taka for 35 goals

Function Practice Problems

In [ ]:
def function_name(x):
  new_list=[]
  for i in range(len(x)):
    a=ord(x[i])
    new_list.append(str(a)+x[i]+str(a))
  return new_list
print(function_name("pythonbook"))

['112p112', '121y121', '116t116', '104h104', '111o111', '110n110', '98b98', '111o111', '111o111', '107k107']

In [ ]:
#5
matrix_A = [ [1,5], [-4,3]]
matrix_B = [ [2,-1] , [4,-1] ]
lst=[]
for i in range(len(matrix_A)):
    lt=[]
    for j in range(0,len(matrix_B)):
        a=matrix_A[i][j]+matrix_B[i][j]
        lt.append(a)
    lst.append(lt)
print(lst)

[[3, 4], [0, 2]]

In [ ]:
matrix_A = [ [1,5], [-4,3]]
print(matrix_A[0][1])

5

In [ ]:
matrix= [[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 3], [9, 1, 2, 3]]
def print_matrix_list(a):
    for i in range(len(a)):
        x=a[i]
        for j in range(len(x)):
            print(x[j],end=" ")
        print()
print_matrix_list(matrix)

1 2 3 4
4 5 6 7
7 8 9 3
9 1 2 3

In [ ]:
matrix= [[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 3], [9, 1, 2, 3]]
for i in range(len(matrix)):
    for j in range(len(matrix)):
        print(matrix[i][j],end=" ")
    print()

1 2 3 4
4 5 6 7
7 8 9 3
9 1 2 3

 LIST

In [ ]:
#a_list=['Rajshahi', 'Chittagong', 'Sylhet', 'Khulna']
#a_list[2].append("Dhaka")                #evabe hoi na
#print(a_list)

In [ ]:
#Task1
a_list=[]
for i in range(5):
  n=int(input())
  a_list.append(n)
  print("Numbers in the list:", a_list)

1
Numbers in the list: [1]
2
Numbers in the list: [1, 2]
3
Numbers in the list: [1, 2, 3]
4
Numbers in the list: [1, 2, 3, 4]
5
Numbers in the list: [1, 2, 3, 4, 5]

In [ ]:
#Task2
x=input()
s=x+","
emp=""
a_list=[]
for i in range(len(s)):
  a=s[i]
  if a!="," and a!=" ":
    emp+=a
  elif a==",":
    b=int(emp)
    a_list.append(b)
    emp=""
new_list=[]
if len(a_list)<4:
  print("Not possible")
else:                                             #len takes time to compute large list
    new_list=a_list[2:len(a_list)-2] #len(x)-2 na die manually number dile shb khetre  jst last 2 ta bad dibe na
    print(new_list)                         #3 ta bad dile -3

10, 20, 24
Not possible

In [ ]:
#Task3
a_list=[]
for i in range(5):
  n=int(input())
  a_list.append(n)
#new_list=a_list[-1: :-1]
print("Printing values from the list in reverse order:")
for j in range(-1,-len(a_list)-1,-1):
  print(a_list[j])

5
-5
100
1
0
Printing values from the list in reverse order:
0
1
100
-5
5

In [ ]:
#Task4
a_list=[3, 5 ,1 ,6]
new_list=[]
for i in range(len(a_list)):            #new list e rakha jbe
  new_list.append(a_list[i]**2)
print(new_list)

[9, 25, 1, 36]

In [ ]:
a_list=[3, 5 ,1, 6]
for i in range(len(a_list)):
  a_list[i]=a_list[i]**2                 #  input list ei change korbo
print(a_list)

[9, 25, 1, 36]

In [ ]:
a_list=[1,2,3,4,5,6,7]
b_list=[1,2,3,4,5,6,7]
a_list.append(b_list)
print(a_list)

[1, 2, 3, 4, 5, 6, 7, [1, 2, 3, 4, 5, 6, 7]]

In [ ]:
a_list=["start", 10, [4, 2, [11, [9, "mid", 3, [1, 0], 6]], 8], "Done"]
new_list=[]
def nested_to_linear(a_list):
    for i in range(len(a_list)):
        if not type(a_list[i])==type([ ]):
            new_list.append(a_list[i])
        else:
            nested_to_linear(a_list[i])
nested_to_linear(a_list)
print(new_list)

['start', 10, 4, 2, 11, 9, 'mid', 3, 1, 0, 6, 8, 'Done']

In [ ]:
#Task 5
a_list=["hey", "there", "", "what's", "", "up", "", "?"]
print("Original List:",a_list)
print()
new_list=[]
for i in range(len(a_list)):
  if a_list[i]!="":
    new_list.append(a_list[i])
print("Modified List:",new_list)

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']

Modified List: ['hey', 'there', "what's", 'up', '?']

In [ ]:
#Task 6
x=input()
s=x+","
emp=""
lst=[]
for i in range(len(s)):
  a=s[i]
  if a!="," and a!=" ":
    emp+=a
  elif a==",":
    b=int(emp)
    lst.append(b)
    emp=""
print("My list:",lst)
largest=lst[0]
index=0
for j in range(1,len(lst)):
  if lst[j]>largest:
    largest=lst[j]
    index+=1
print(largest)
print(index)

7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
13
1

In [ ]:
#Task 7
list_one=[1, 3, 5, 7, 9, 10]
list_two=[2, 4, 6, 8]
list_one=list_one[0:len(list_one)-1:1]
for i in range(len(list_two)):
  a=list_two[i]
  list_one.append(a)
print(list_one)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#Task 8
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
list_three=[]
for i in range(len(list_one)):
  if list_one[i]%2==0:
    list_three.append(list_one[i])
for j in range(len(list_two)):
  if list_two[j]%2==0:
    list_three.append(list_two[j])
print(list_three)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#Task 9
s=input()
x=s+" "
emp=""
lst=[]
for i in range(len(x)):
  a=x[i]
  if a!=" ":
    emp+=a
  else:
    c=int(emp)
    lst.append(c)
    emp=""
print( "Original list:",lst)
mo_list=[]                       #rekta list use kora jbe to?
for j in range(len(lst)):
  if lst[j]%2!=0:
    mo_list.append(lst[j])
print("Modified list:",mo_list)

7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [ ]:
#Task10
x=input()
s=x+","
emp=""
input_list=[]
for i in range(len(s)):
  a=s[i]
  if a!="," and a!=" ":
    emp+=a
  elif a==",":
    b=int(emp)
    input_list.append(b)
    emp=""
print("Input list:",input_list)
new_list=[]
for i in range(len(input_list)):
  a=input_list[i]
  if a not in(new_list):
    new_list.append(input_list[i])
print("Modified list:",new_list)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Task11 thikase?
list_one=[1, 4, 3, 2, 6]
list_two=[5, 9, 8, 7, 6]
all=True
for i in range(len(list_one)):
  a=list_one[i]
  for j in range(len(list_two)):
    if a==list_two[j]:
        all=True
        break
    else:
        all=False
print(all)

True

In [ ]:
g=[7, 13, 2, 6, -11, 0]
max=g[0]
a=0
for i in range(1,len(g)):
    if g[i]>max:
        max=g[i]
        a=i
b=g[0]
g[0]=g[a]
g[a]=b
max=g[1]
for i in range(2,len(g)):
    if g[i]>max:
        max=g[i]
        a=i
print(f"Second largest number in the list is {max} which was found at index {a}")

Second largest number in the list is 7 which was found at index 1

In [ ]:
#Task 16
lst=[]
for i in range(7):
  n=int(input())
  lst.append(n)
print("My list:",lst)
li= 0      #list er 1st index nibo
for i in range(1,len(lst)):
  p=lst[i]
  if p>lst[li]:
    li=i
a=lst[li]
lst[li]=lst[0]
lst[0]=a
for i in range(1,len(lst)):
  p=lst[i]
  if p>lst[li]:
    li=i
print("Second largest number in the list is",lst[li],"which was found at index",li)

7
13
2
10
6
-11
0
My list: [7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 10 which was found at index 3

In [ ]:
#Task 17
lst=[]
for i in range(5):
  n=int(input())
  lst.append(n)
print("My list:",lst)
li=  0
si=0
for i in range(1,len(lst)):
  p=lst[i]
  if p>lst[li]:
    li=i
  if p<lst[si]:
    si=i
print("Smallest number in the list is",lst[si],"which was found at index",si)
print("Largest number in the list is", lst[li],"which was found at index",li)

7
13
-5
10
6
My list: [7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

In [ ]:
#Task 18
a=["A", "B", "C", "D"]  #nki string input nite bolse?
b=["C", "E", "F", "B"]
c=[]
for i in range (len(a)):
  if a[i] in b:
    c.append(a[i])
print(c)

['B', 'C']

In [ ]:
a=["1", "3", "A", "H", "P"]
b=["A", "G", "1", "P", "O"]
c=[]
for i in a:
    for j in b:
        if j==i:
            c.append(j)
print(c)

['1', 'A', 'P']

In [ ]:
#Task 19
list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
third_list=[]
for i in range(len(list_one)):
  a=list_one[i]
  if a not in third_list:
     third_list.append(a)
for j in range(len(list_two)):
  b=list_two[j]
  if b not in third_list:
    third_list.append(b)
print(third_list)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
#Task 21
x=input()
s=x+","
emp=""
lst=[]
for i in range(len(s)):
  a=s[i]
  if a!="," and a!=" ":
    emp+=a
  elif a==",":
    b=int(emp)
    lst.append(b)
    emp=""
print("Given numbers in list:",lst)
nl=[]
for j in range(len(lst)):
  if lst[j] not in nl:
    nl.append(lst[j])
print("List without any dupliacte values: ",nl)

0, 0, 1, 2, 3, 4,      4, 5, 6, 6, 6,      7, 8, 9, 4,         4
Given numbers in list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
List without any dupliacte values:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Easy1
List1 = [90,30,-30,20,12]
List2 = [-8,-5,-2,100,6]
j=-1
for i in range(len(List1)):                            #range(-1,-1) dile reverse hoi na
    print(List1[i],List2[j])
    j-=1

90 6
30 100
-30 -2
20 -5
12 -8

In [ ]:
#Easy 2
a=['Red','Green','Blue','White','Black']
nl=[]
for i in range(len(a)):
  b=a[i]
  c=b[-1::-1]
  nl.append(c)
print(nl)

['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [ ]:
#Easy 3
x=[1, 3, 5, 7, 4, 1, 6, 8]
odd1=0
even1=1
for i in range(len(x)):
   if x[i]%2==0:
        even1=x[i]
        break
for i in range(len(x)):
   if x[i]%2!=0:
        odd1=x[i]
        break
if odd1=0:
    print("first odd : not found")
print("First even:",even1,"and", "First odd:",odd1)

First even: 4 and First odd: 1

In [ ]:
#Easy 4
nt=[]
T=['p', 'q', 'r', 's']
N=2
for i in range(1,N+1):
  for j in range(len(T)):
    a=T[j]
    b=a+str(i)
    nt.append(b)
print(nt)

['p1', 'q1', 'r1', 's1', 'p2', 'q2', 'r2', 's2']

In [ ]:
#Task 1
x=int(input())
a=str(x)
if len(a)==1:
    print("False")
else:
    all=True
    for i in range(len(a)-1):
        if a[i]<=a[i+1]:
            all=False
            break
    print(all)

4321
True

In [ ]:
#Task 2
x=[976321, 321, 9763221, 9742, 876, 3211]
for i in range(len(x)):
  a=str(x[i])
  all=True
  for j in range(len(a)-1):
    if a[j]<=a[j+1]:
        all=False
        break
  if all:
    print(int(a),"is an awesome number")
  else:
    print(int(a),"is a not-so-awesome number.")

976321 is an awesome number
321 is an awesome number
9763221 is a not-so-awesome number.
9742 is an awesome number
876 is an awesome number
3211 is a not-so-awesome number.

In [ ]:
#Task 3
s=input()
x=s+','
emp=""
lst=[]
for i in range(len(x)):
    if x[i]!="," and x[i]!=" ":
        emp+=x[i]
    elif x[i]==",":
        lst.append(int(emp))
        emp=""
print(lst)

97821, 1 	, 97210,   963,    979210 , 979210
[97821, 1, 97210, 963, 979210, 979210]

In [ ]:
#Task 5
a=[976321, 9742, 3211, 30987]
lt=[]
k=0
for i in a:
    s=0
    m=1
    lst=[a[k]]
    p=str(i)
    for j in range(len(p)):
        s+=int(p[j])
        m*=int(p[j])
    lst.append(s)
    lst.append(m)
    lt.append(lst)
    k+=1
print(lt)

[[976321, 28, 2268], [9742, 22, 504], [3211, 7, 6], [30987, 27, 0]]

In [ ]:
#s k r ki korle use korte parbo?
s=0
def sum(lst):
    global s
    for i in lst:
        if type(i)==list:
            sum(i)
        else:
            s+=i
    return s
print(sum([ 4, [2, 5], [ 3, [1], 7 ], [ [ 4, [7, 6] ], 2], [8, 10] ]))

59

Tracing

In [ ]:
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while(index1<10):
  myList[index1] = index1+4
  index2 = 1
  while(index2<index1):
      myList[index1] = myList[index1] + myList[index2]-index1
      index2 = index2+1
  print(myList[index1])
  index1 = index1+1

5
9
15
25
43
77
143
273
531

In [ ]:
#Tracing2
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while (index1 < 10):
  myList[index1] = index1 + 4
  index2 = 1
  while (index2 < index1):
    myList[index1] = myList[index1-1] - myList[index2-1] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

5
3
-5
-12
-12
-6
-1
-3
-11

In [ ]:
#Task 14
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<4):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7

In [ ]:
#Task 15
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 4):
  myList[index1] = index1 + 1
  index2 = 1
  while (index2 < index1):
    myList[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

2
0
-1

In [ ]:

myList = [10, 1, 4, 3, 8, 2, 4, 3, 5, 8, "done"]
index1, index2 = 0, 0
index1 = 1
while(index1<10):
  while(index2<index1):
    myList[index1] = myList[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1
print(myList[-1:])

10
12
12
16
13
11
7
4
3
['done']

In [ ]:
myList = [10, 1, 4, 3, 8, 2, 4, 3, 5, 8, "done"]
print(myList[-1::1])
print(myList[-1::-1])
print(myList[-1])

['done']
['done', 8, 5, 3, 4, 2, 8, 3, 4, 1, 10]
done

In [ ]:
def function_name(l):
    lst=[]
    for i in range(len(l)-1):
        c=0
        if l[i]==l[i+1]:
            c+=1
        if l[i]!=l[i+1] or c==1:
            lst.append(l[i])
    return lst
print(function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

[1, 2, 3, 3, 3, 3, 4, 5, 8]